<with-breadcrumb [breadcrumb]="breadcrumb">
    <segment header="ขออนุมัติการออกตรวจ" [loading]="false">
      <div class="ui form">
      </div>
      <div class="ui form">
        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="three wide field">
            <label class="text-right full-width">บันทึกเอกสาร</label>
          </div>
          <div class="four wide field">
              <app-button-custom [icon]="'file alternate'" [text]="'ตส. 01-07'" routerLink="/tax-audit-new/ta03/01/ta-form-ts0107"></app-button-custom>
          </div>
        </div>
        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="three wide field">
            <label class="text-right full-width">บันทึกเอกสาร</label>
          </div>
          <div class="four wide field">
              <input type="text" value="ตส. 01-08" >
          </div>
        </div>
  
        <div class="ui center aligned grid">
          <div class="eight wide column">
            <app-button-custom routerLink="/tax-audit-new/select07" color="primary" text="ขออนุมัติ"></app-button-custom>
            <app-button-back routerLink="/tax-audit-new/select07"></app-button-back>
          </div>
        </div>
      </div>
    </segment>
  
  
  </with-breadcrumb>