.cdk-drag-preview {
    /* display: none; */
    display: flex;
    width: calc(100vw - 2rem - 28px);
    height: 39px;
    background: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
}

.cdk-drag-preview > td {
    text-align: center;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview.cdk-drop-list-dragging .cdk-drag-preview:not(.cdk-drag-placeholder) {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}


/* table bottom */
.cdk-drag-preview.heading > td:first-child {
    width: 100px !important;
    padding: .5em .7em;
    border: 1px solid rgb(245, 234, 234);
    height: auto;
}
.cdk-drag-preview.heading > td:nth-child(2) {
    text-align: center;
    width: 64px !important;
    padding: .5em .7em;
    border: 1px solid rgb(245, 234, 234);
    height: auto;
}
.cdk-drag-preview.heading > td:nth-child(3) {
    text-align: left;
    width: calc(100% - 564px) !important;
    padding: .5em .7em;
    border: 1px solid rgb(245, 234, 234);
    height: auto;
}
.cdk-drag-preview > td:last-child {
    width: 400px !important;
    padding: .5em .7em;
    border: 1px solid rgb(245, 234, 234);
    height: auto;
    text-align: center;
}
/* table bottom */
