<segment header="Add Role" [loading]="false">
  <form [formGroup]="saveForm" (submit)="handleSave($event)" class="ui form">
    <div class="ui grid centered">
      <div class="four column row">
        <div class="column">
          <div class="inline fields">
            <label>Code</label>
            <input type="text" formControlName="roleCode"  placeholder="Role Code">
          </div>
        </div>
        <div class="column">
          <div class="inline fields">
            <label>Descriptions</label>
            <input type="text" formControlName="roleDesc" placeholder="Role Descriptions">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="ui one column centered grid">
      <div class="column aligned center">
        <app-button-save  submit="submit" ></app-button-save>
        <app-button-cancel routerLink="/management/role"></app-button-cancel>
      </div>
    </div>
  </form>

</segment>