<segment header="หนังสือแจ้งผลการตรวจสอบภาษี ณ สถานประกอบการ (ตส. ๐๑-๑๗)" [loading]="loading" [right]="true">
  <div headRight>
      {{taformTS0117.get('formTsNumber').value}}
  </div>
  
  <form form [formGroup]="taformTS0117">
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">ที่ กค :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="bookNumber1" maxlength="20">
        <label style="margin-right: 1em;"> / </label>
        <input type="text" formControlName="bookNumber2" maxlength="20">
      </div>
      <div field [col]="1">
        <label class="full-width text-right">สำนัก :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="docTopic" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="full-width text-right">วันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarDocDate">
            <div class="ui input left icon">
              <i class="calendar alter nate outline icon"></i>
              <input type="calendar" id="docDate" name="docDate" formControlName="docDate"
                placeholder="วว/ดด/ปปปป">
            </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">เรียน :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="docDear" maxlength="100">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">อ้างถึง</label>
      </div>
      <div field [col]="4">
        <label class="full-width text-left">หนังสือนำตัวออกตรวจการเสียภาษีสรรพสามิต ที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="refBookNumber1" maxlength="20">
        <label style="margin-right: 1em;">/</label>
        <input type="text" formControlName="refBookNumber2" maxlength="20">
      </div>
      <div field [col]="2">
        <label class="full-width text-right">ลงวันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarRefDocDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" id="refDocDate" name="refDocDate" formControlName="refDocDate"
              placeholder="วว/ดดด/ปปปป">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="6">
        <label class="full-width text-right">ตามที่พนักงานเจ้าหน้าที่ได้ออกตรวจสอบภาษี ณ สถานประกอบการ เมื่อวันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarAuditDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" id="auditDate" name="auditDate" formControlName="auditDate"
              placeholder="วว/ดดด/ปปปป">
            </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="6">
        <label class="full-width text-right">ตามหนังสือนำตัวออกตรวจการเสียภาษีสรรพสามิต ที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="callBookNumber1" maxlength="100">
        <label style="margin-right: 1em;"> / </label>
        <input type="text" formControlName="callBookNumber2" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="full-width text-right">ลงวันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarCallBookDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" id="callBookDate" name="callBookDate" formControlName="callBookDate"
              placeholder="วว/ดด/ปปปป">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">เลขทะเบียนสรรพสามิต :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="newRegId" maxlength="17">
      </div>
      <div field [col]="1">
        <app-button-custom [icon]="'search'" (click)="searchNewRegId()"></app-button-custom>
      </div>
      <div field [col]="2">
        <label class="full-width text-right">ชื่อโรงอุตสาหกรรม/<br>สถานบริการ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="factoryName" maxlength="200">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">สถานที่ตั้งเลขที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facAddrNo" maxlength="" maxlength="35">
      </div>
      <div field [col]="1">
        <label class="full-width text-right">หมู่ที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facMooNo" maxlength="2">
      </div>
      <div field [col]="1">
        <label class="full-width text-right">ตรอก/ซอย :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facSoiName" maxlength="50">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">ถนน :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facThnName" maxlength="50">
      </div>
      <div field [col]="1">
        <label class="full-width text-right">ตำบล/<br>แขวง :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facTambolSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facTambolName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facTambolName" maxlength="100"> -->
      </div>
      <div field [col]="1">
        <label class="full-width text-right">อำเภอ/เขต :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facAmphurSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facAmphurName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facAmphurName" maxlength="100"> -->
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">จังหวัด :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facProvinceSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facProvinceName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facProvinceName" maxlength="100"> -->
      </div>
      <div field [col]="1">
        <label class="full-width text-right">รหัสไปรษณีย์ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facZipCode" maxlength="5">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">ชื่อผู้นำการตรวจ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerFullName" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="full-width text-right">ตำแหน่ง :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerPosition" maxlength="100">
      </div>
    </div>
    <div inline>
      <div field [col]="3">
        <label class="full-width text-right">รอบระยะเวลายื่นแบบรายการภาษี :</label>
      </div>
      <div field [col]="5">
        <div class="ui calendar" style="width: 100%" id="calendarTaxFormDateStart">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" id="taxFormDateStart" name="taxFormDateStart"
              formControlName="taxFormDateStart" placeholder="วว/ดด/ปปปป">
          </div>
        </div>
        <label class="text-center" style=" width:30%">ถึง</label>
        <div class="ui calendar" style="width: 100%" id="calendarTaxFormDateEnd">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" id="taxFormDateEnd" name="taxFormDateEnd" formControlName="taxFormDateEnd"
              placeholder="วว/ดด/ปปปป">
          </div>
        </div>
      </div>
      <div field [col]="8">
        <label class="full-width text-left">โดยพนักงานเจ้าหน้าที่ได้แจ้งผลการตรวจสอบให้ทราบข้อเท็จจริงและข้อกฎหมายแล้วตามบันทึกคำให้การ (ตส. ๐๔-๐๖)</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">ลงวันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarTestimonyDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" id="testimonyDate" name="testimonyDate" formControlName="testimonyDate"
              placeholder="วว/ดด/ปปปป">
          </div>
        </div>
      </div>
      <div field [col]="2">
        <label class="full-width text-left">ดังนี้</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">๑. ข้อเท็จจริง :</label>
      </div>
      <div field [col]="14">
        <textarea name="" id="" cols="30" rows="4" formControlName="factDesc" maxlength="500"></textarea>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">๒. ข้อกฎหมาย :</label>
      </div>
      <div field [col]="14">
        <textarea name="" id="" cols="30" rows="4" formControlName="lawDesc" maxlength="500"></textarea>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">๓. จากประเด็นความผิด<br>ดังกล่าวข้างต้น ทำให้ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="factoryName2" maxlength="200">
      </div>
      <div field [col]="4">
        <label class="full-width text-left">ต้องมีภาระความรับผิดในค่าภาษีสรรพสามิต ดังนี้</label>
      </div>
    </div>
    <div inline>
      <div field [col]="4">
        <label class="full-width text-right">ภาษีสรรพสามิต :</label>
      </div>
      <div field [col]="2">
      </div>
      <div field [col]="2">
        <input type="text" formControlName="taxAmt" maxlength="15">
      </div>
      <div field [col]="1">
        <label>บาท</label>
      </div>
    </div>
    <div inline>
      <div field [col]="4">
        <label class="full-width text-right">เบี้ยปรับ ตามมาตรา ๑๔๐ :</label>
      </div>
      <div field [col]="2">
      </div>
      <div field [col]="2">
        <input type="text" formControlName="fineAmt" maxlength="15">
      </div>
      <div field [col]="1">
        <label>บาท</label>
      </div>
    </div>
    <div inline>
      <div field [col]="4">
        <label class="full-width text-right">เงินเพิ่ม ตามมาตรา ๑๔๑ :</label>
      </div>
      <div field [col]="2">
      </div>
      <div field [col]="2">
        <input type="text" formControlName="extraAmt" maxlength="15">
      </div>
      <div field [col]="1">
        <label>บาท</label>
      </div>
    </div>
    <div inline>
      <div field [col]="4">
        <label class="full-width text-right">รวม :</label>
      </div>
      <div field [col]="2">
      </div>
      <div field [col]="2">
        <input type="text" formControlName="exciseTaxAmt" maxlength="15">
      </div>
      <div field [col]="1">
        <label>บาท</label>
      </div>
    </div>
    <div inline>
      <div field [col]="4">
        <label class="full-width text-right">ภาษีเพื่อราชการส่วนท้องถิ่น ตามมาตรา ๑๕๐ :</label>
      </div>
      <div field [col]="2">
      </div>
      <div field [col]="2">
        <input type="text" formControlName="moiAmt" maxlength="15">
      </div>
      <div field [col]="1">
        <label>บาท</label>
      </div>
    </div>
    <div inline>
      <div field [col]="4">
        <label class="full-width text-right">รวมทั้งสิ้น :</label>
      </div>
      <div field [col]="2">
      </div>
      <div field [col]="2">
        <input type="text" formControlName="sumAllTaxAmt" maxlength="15">
      </div>
      <div field [col]="1">
        <label>บาท</label>
      </div>
      <div field [col]="3">
        <label class="full-width text-right">หมายเหตุ เงินเพิ่มคิดถึงวันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarExtraDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" id="extraDate" name="extraDate" formControlName="extraDate"
              placeholder="วว/ดด/ปปปป">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">(๑) ให้ท่านชำระภาษี ณ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="paymentDest" maxlength="100">
      </div>
      <div field [col]="3">
        <label class="full-width text-right">จำนวนภาษีสรรพสามิตทั้งสิ้น :</label>
      </div>
      <div field [col]="2">
        <input type="text" formControlName="paymentExciseTaxAmt" maxlength="15">
      </div>
      <div field [col]="1">
        <label class="full-width text-right">ภายในวันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarPaymentDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" id="paymentDate" name="paymentDate" formControlName="paymentDate"
              placeholder="วว/ดด/ปปปป">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <label class="full-width left">อาศัยอำนาจตามมาตรา ๑๒๓ (๓) แห่งพระราชบัญญัติภาษีสรรพสามิต พ.ศ. ๒๕๖๐
          ในกรณีที่ผู้เสียภาษีเห็นว่า ประเด็นความผิดข้างต้นไม่ถูกต้อง หรือมีเหตุผลอื่นใดให้ไม่ต้องรับผิดในการเสียภาษีสรรพสามิต
          ให้ผู้เสียภาษีไปพบพนักงานเจ้าหน้าที่พร้อมทั้งนำเอกสารหลักฐานต่าง ๆ ไปส่งมอบต่อพนักงานเจ้าหน้าที่
        </label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">ณ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officeDest">
      </div>
      <div field [col]="1">
        <label class="full-width text-right">ในวันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarOfficeDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" id="officeDate" name="officeDate" formControlName="officeDate"
              placeholder="วว/ดด/ปปปป">
          </div>
        </div>
      </div>
      <div field [col]="1">
        <label class="full-width text-right">เวลา :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarOfficeTime">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" id="officeTime" name="officeTime" formControlName="officeTime"
              placeholder="00.00">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <label class="full-width left">ทั้งหนี้ หากท่านเพิกเฉยไม่ปฎิบัติตามหรือไม่ไปติดต่อพนักงานเจ้าหน้าที่ตามกำหนดเวลาดังกล่าว
          พนักงานเจ้าหน้าที่จะถือว่าท่านจงใจไม่ปฏิบัติตามคำสั่งพนักงานเจ้าหน้าที่ และอาศัยอำนาจตามมาตรา ๘๖ (๓), มาตรา ๑๔๐
          มาตรา ๑๔๑ และมาตรา ๑๕๐ แห่งพระราชบัญญัติภาษีสรรพสามิต พ.ศ. ๒๕๖๐ จะทำการประเมินเรียกเก็บภาษีสรรพสามิตตามที่เห็นว่าถูกต้องต่อไป
        </label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">ชื่อผู้ปฏิบัติงาน :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signOfficerFullName" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="full-width text-right">ตำแหน่ง :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signOfficerPosition" maxlength="100">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">หน่วยงาน :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="officeName" id="officeName" maxlength="100">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">โทร :</label>
      </div>
      <div field [col]="3">
        <input type="text" formControlName="officePhone" id="officePhone" maxlength="20">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อผู้รับผิดชอบ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="headOfficerFullName" id="headOfficerFullName" maxlength="100">
      </div>
    </div>
    <br>
    <br>
    <app-button-footer-report (save)="save($event)" (clear)="clear($event)" (export)="export($event)">
    </app-button-footer-report>
  </form>
</segment>