<segment header="การวิเคราะห์อัตราภาษี" [loading]="false">
  <table id="dataTable" class="ui small celled table striped selectable  nowrap" style="width:100%">
    <thead>
      <tr>
        <th rowspan="2" style="text-align: center !important">รายการ</th>
        <th colspan="2" style="text-align: center !important">อัตราภาษี ภส.03-07</th>
        <th colspan="2" style="text-align: center !important">อัตราภาษีที่อยู่ในระบบ</th>
        <th colspan="2" style="text-align: center !important">ผลต่าง</th>
      </tr>
      <tr>
        <th style="text-align: center !important">ตามมูลค่า</th>
        <th style="text-align: center !important">ตามปริมาณ</th>
        <th style="text-align: center !important">ตามมูลค่า</th>
        <th style="text-align: center !important">ตามปริมาณ</th>
        <th style="text-align: center !important">ตามมูลค่า</th>
        <th style="text-align: center !important">ตามปริมาณ</th>
      </tr>
    </thead>

  </table>
</segment>