<br>
<segment header="ตรวจสอบการพิมพ์ใบอนุญาตซ้ำ">
  <form form [formGroup]="formSearch">
    <div inline>
      <div field [col]="3" [ngClass]="{'required': flagHeader}">
        <label class="text-right full-width">สำนักงานสรรพสามิตภาค :</label>
      </div>
      <ng-container *ngIf="flagHeader">
        <div field [col]="4" [ngClass]="{'error': invalidSearchFormControl('sector')}">
          <select class="ui dropdown full-width" id="sector" (change)="onChangeSector($event)" formControlName="sector">
            <option value="">เลือกสำนักงานสรรพสามิตภาค</option>
            <option *ngFor="let item of sectors" value="{{item.officeCode}}">{{item.deptName}}</option>
          </select>
        </div>
      </ng-container>

      <ng-container *ngIf="!flagHeader">
        <div field [col]="4">
          <input type="text" class="custom-readonly" formControlName="sector" readonly>
        </div>
      </ng-container>

      <div field [col]="3">
        <label class="text-right full-width">สำนักงานสรรพสามิตพื้นที่ :</label>
      </div>
      <ng-container *ngIf="flagHeader">
        <div field [col]="4" [ngClass]="{'error': invalidSearchFormControl('area')}">
          <select class="ui dropdown full-width" id="area" formControlName="area">
            <option value="">เลือกสำนักงานสรรพสามิตพื้นที่</option>
            <option value="0">ทั้งหมด</option>
            <option *ngFor="let item of areas" value="{{item.officeCode}}">{{item.deptName}}</option>
          </select>
        </div>
      </ng-container>

      <ng-container *ngIf="!flagHeader">
        <div field [col]="4">
          <input type="text" class="custom-readonly" formControlName="area" readonly>
        </div>
      </ng-container>
    </div>

    <div inline>
      <div field [col]="3" [ngClass]="{'required': flagHeader}">
        <label class="text-right full-width">ช่วงในวันที่ :</label>
      </div>
      <ng-container *ngIf="flagHeader">
        <div field [col]="4"
          [ngClass]="{'error': invalidSearchFormControl('licDateFrom') || invalidSearchFormControl('licDateTo')}">
          <div class="ui calendar full-width" id="date1">
            <div class="ui input left icon">
              <i class="calendar alternate outline icon"></i>
              <input type="text" autocomplete="off" placeholder="วว/ดด/ปปปป" id="inputDate1" readonly="">
            </div>
          </div>
          ถึง&nbsp;&nbsp;&nbsp;
          <div class="ui calendar full-width" id="date2">
            <div class="ui input left icon">
              <i class="calendar alternate outline icon"></i>
              <input type="text" autocomplete="off" placeholder="วว/ดด/ปปปป" id="inputDate2" readonly="">
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!flagHeader">
        <div field [col]="4">
          <input type="text" class="custom-readonly" formControlName="licDateFrom" readonly>
          ถึง&nbsp;&nbsp;&nbsp;
          <input type="text" class="custom-readonly" formControlName="licDateTo" readonly>
        </div>
      </ng-container>

      <div field [col]="3">
        <label class="text-right full-width">เลขที่กระดาษทำการ :</label>
      </div>
      <div field [col]="4">
        <select class="ui dropdown full-width" (change)="onChangeauditLicdupNo($event)" formControlName="auditLicdupNo"
          id="auditLicdupNo">
          <option value="">เลือกเอกสาร</option>
          <option *ngFor="let item of auditLicdupNoList let i =index" value="{{item.auditLicdupNo}}">
            {{item.auditLicdupNo}}</option>
        </select>
      </div>
    </div>
    <br>
    <div class="ui center aligned grid">
      <div class="eight wide column">
        <app-button-search (click)="serach()" [disabled]="!flagButton"></app-button-search>
        <app-button-save (click)="save()" [disabled]="flagButton"></app-button-save>
        <app-button-export (click)="export()" [disabled]="flagButton && !formSearch.get('auditLicdupNo').value">
        </app-button-export>
        <app-button-clear (click)="clear()"></app-button-clear>
      </div>
    </div>
  </form>
</segment>

<segment [loading]="loading">

  <form form [formGroup]="formT1">
    <div style="overflow-x: auto; margin-top: 15px; margin-bottom: 16px">

      <table class="ui small celled table selectable">
        <thead class="text-center">
          <tr>
            <th>ลำดับ</th>
            <th style="width: 150px;">เลขทะเบียนสรรพสามิต</th>
            <th>ชื่อผู้ประกอบการ</th>
            <th>ประเภท<br>ใบอนุญาต</th>
            <th>ตรวจสอบ<br>เลขที่แบบพิมพ์</th>
            <th>เลขที่ใบอนุญาต</th>
            <th>วันที่ออกใบอนุญาต</th>
            <th>จำนวนครั้ง<br>ที่พิมพ์ซ้ำ</th>
          </tr>
        </thead>
        <tbody formArrayName="auditLicdupDList">
          <ng-container *ngIf="formT1.controls">
            <ng-container *ngIf="formT1.controls.auditLicdupDList.controls!=0">
              <tr [formGroupName]="i"
                *ngFor="let item of formT1.controls.auditLicdupDList.controls; let i = index;let first = first;let last = last">
                <td class="text-center"> {{ i+1 }}</td>
                <td class="text-center">{{ item.get('newRegId').value | isEmpty}}</td>
                <td class="text-left">{{ item.get('cusFullname').value | isEmpty }}</td>
                <td class="text-center">{{ item.get('licType').value | isEmpty }}</td>
                <td><input numberOnly type="text" id="rubcheck{{i}}" class="text-right full-width"
                    (change)="reEditRunCheck(i,$event.target.value)" formControlName="runCheck"
                    value="{{ item.get('runCheck').value}}" maxlength="20"></td>
                <td class="text-center">{{ item.get('licNo').value | isEmpty }}</td>
                <td class="text-center">{{ item.get('licDate').value | isEmpty }}</td>
                <td class="text-right">{{ item.get('printCount').value | decimalFormat:"###,###" }}</td>
              </tr>
            </ng-container>

            <ng-container *ngIf="formT1.controls.auditLicdupDList.controls==0">
              <tr class="text-center">
                <td colspan="14">ไม่พบข้อมูล</td>
              </tr>
            </ng-container>
          </ng-container>

        </tbody>
      </table>
    </div>

    <div inline>
      <div field [col]="4">
        <label class="text-right full-width">สรุปผลการตรวจสอบการพิมพ์ใบอนุญาตซ้ำ :</label>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="auditFlag" id="auditFlag" value="1">
          <label>ไม่พบประเด็น</label>
        </div>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="auditFlag" id="auditFlag" value="2">
          <label>พบประเด็น</label>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="3">
        <label class="text-right full-width">ข้อตรวจพบ/ข้อสังเกต<br>(ข้อเท็จจริง/Condition) :</label>
      </div>
      <div field [col]="9">
        <textarea rows="4" style="resize: none" formControlName="conditionText" id="conditionText"
          maxlength="200"></textarea>
      </div>
    </div>
    <div inline>
      <div field [col]="3">
        <label class="text-right full-width">สิ่งที่ควรจะเป็น<br>(หลักเกณฑ์/Criteria) :</label>
      </div>
      <div field [col]="9">
        <textarea rows="4" style="resize: none" formControlName="criteriaText" id="criteriaText"
          maxlength="200"></textarea>
      </div>
    </div>

  </form>


</segment>