<with-breadcrumb [breadcrumb]="breadcrumb">
  <div class="ui grid">
    <div class="sixteen wide column">
      <segment header="กลุ่มการตรวจสอบภายใน" [loading]="false">
          <app-button-custom color="primary" text="แผนประจำปี" routerLink="/plan01"></app-button-custom>
        <table id="table" class="ui small celled table striped selectable" style="width: 100%;">
          <thead>
            <tr class="center aligned">
              <th></th>
              <th colspan="14">แผนการตรวจสอบประจำปีงบประมาณ 2562</th>
              <th colspan="2">ปีงบปะมาณ 63</th>

            </tr>
            <tr class="center aligned">

              <th>กิจกรรม</th>
              <th>ความถี่</th>
              <th>หน่วยนับ</th>
              <th>ต.ค. 61</th>
              <th>พ.ย. 61</th>
              <th>ธ.ค. 61</th>
              <th>ม.ค. 62</th>
              <th>ก.พ. 62</th>
              <th>มี.ค. 62</th>
              <th>เม.ย. 62</th>
              <th>พ.ค. 62</th>
              <th>มิ.ย. 62</th>
              <th>ก.ค. 62</th>
              <th>ส.ค. 62</th>
              <th>ก.ย. 62</th>
              <th>10/1/1963</th>
              <th>ตั้งแต่ พ.ย.</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tr>
            <td>
              3. ตรวจสอบภายใน
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              &nbsp; 3.1 งานตรวจสอบงานโครงการ <br>
              &nbsp; &nbsp; &nbsp; (1) โครงการปรับปรุงและพัฒนาระบบสารสนเทศกรมสรรพสามิต เพื่อรองรับพระราช
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; บัญญัติภาษีสรรพสามิตใหม่
            </td>
            <td>1</td>
            <td>โครงการ</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>EN</td>
            <td class="bg-orange">AU</td>
            <td>RE</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>
              &nbsp;3.2 งานตรวจสอบระบบงานสารสนเทศหลักของกรมสรรพสามิต<br>
              &nbsp; &nbsp; &nbsp; (1) ระบบงาน BI
            </td>
            <td>2</td>
            <td>ระบบ</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>EN</td>
            <td class="bg-orange">AU</td>
            <td>RE</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              &nbsp;3.3 งานตรวจสอบสรรพสามิตภาคและสรรพสามิตพื้นที่
            </td>
            <td>8</td>
            <td>หน่วยงาน</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>

              &nbsp; &nbsp; &nbsp; (1) สรรพสามิตพื้นที่ร้อยเอ็ด
            </td>
            <td></td>
            <td></td>
            <td>EN</td>
            <td class="bg-c-green">AU</td>
            <td>RE</td>
            <td></td>
            <td></td>
            <td>MO</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>

              &nbsp; &nbsp; &nbsp; (2) สรรพสามิตภาค 3
            </td>
            <td></td>
            <td></td>
            <td>EN</td>
            <td class="bg-c-green">AU</td>
            <td>RE</td>
            <td></td>
            <td></td>
            <td>MO</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>
              &nbsp; &nbsp; &nbsp; (3) สรรพสามิตพื้นที่สมุทรปราการ
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>EN</td>
            <td class="bg-c-green">AU</td>
            <td>RE</td>
            <td></td>
            <td></td>
            <td>MO</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>


          <tr>
            <td>
              &nbsp; &nbsp; &nbsp; (4) สรรพสามิตพื้นที่เชียงราย
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>EN</td>
            <td class="bg-c-yellow">AU</td>
            <td>RE</td>
            <td></td>
            <td></td>
            <td>MO</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>
              &nbsp; &nbsp; &nbsp; (5) สรรพสามิตพื้นที่สุราษฎร์ธานี
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td>EN</td>
            <td class="bg-c-orange">AU</td>
            <td>RE</td>
            <td></td>
            <td></td>
            <td>MO</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>
              &nbsp; &nbsp; &nbsp;(6) สรรพสามิตพื้นที่นนทบุรี
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>EN</td>
            <td class="bg-c-orange">AU</td>
            <td>RE</td>
            <td></td>
            <td></td>
            <td>MO</td>

            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>
              &nbsp; &nbsp; &nbsp;(7) สรรพสามิตพื้นที่มหาสารคาม
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>EN</td>
            <td class="bg-c-orange">AU</td>
            <td>RE</td>
            <td></td>
            <td></td>
            <td>MO</td>


            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>
              &nbsp; &nbsp; &nbsp;(8) สรรพสามิตพื้นที่ชัยภูมิ
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>EN</td>
            <td class="bg-c-orange">AU</td>
            <td>RE</td>
            <td></td>
            <td></td>
            <td>MO</td>


            <td></td>
            <td></td>
          </tr>
        </table>


        <div class="ui grid">
          <div class="four wide column"></div>
          <div class="four wide column"></div>
          <div class="four wide column"></div>
          <div class="four wide column">
            <div class="ui  segment">          
                <div class="inline fields">
                    <div class="four wide column"> <label>*Remark : </label></div>
                  
                  <div class="three wide column">
                      <label>EN=Engagement</label>
                    </div>
                </div>   
                <div class="inline fields">
                    <div class="ten wide fields"></div>
                    <div class="three wide fields">
                      <label >  AU=Audit</label>
                    </div>  
                  </div>   
                    <div class="inline fields">
                      <div class="ten wide fields"></div>
                      <div class="three wide fields">
                        <label >      RE=Report</label>
                      </div>
    
                    </div>     
                    <div class="inline fields">
                        <div class="ten wide fields"></div>
                        <div class="three wide fields">
                          <label >    MO= Monitoring</label>
                        </div>
      
                      </div>           
                  
       
            </div>
          </div>
        </div>
      </segment>
    </div>

  </div>

</with-breadcrumb>