<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>

<segment header="สรุปแสตมป์รายปีงบประมาณ" [loading]="false">
  <table id="dataTable" class="ui small celled table nowrap striped selectable" style="width: 100%">
    <thead>
            <tr style="text-align: center;">
                <th rowspan="2">ลำดับที่</th>
                <th rowspan="2">ชนิดแสตมป์</th>
                <th colspan="2">คงเหลือยกมาจากปีก่อน</th>
                <th colspan="3">ตุลาคม</th>
                <th colspan="3">พฤศจิกายน</th>
                <th colspan="3">ธันวาคม</th>
                <th colspan="3">มกราคม</th>
                <th colspan="3">กุมภาพันธ์</th>
                <th colspan="3">มีนาคม</th>
                <th colspan="3">เมษายน</th>
                <th colspan="3">พฤษภาคม</th>
                <th colspan="3">มิถุนายน</th>
                <th colspan="3">กรกฎาคม</th>
                <th colspan="3">สิงหาคม</th>
                <th colspan="3">กันยายน</th>
                <th colspan="4">รวมรับ-จ่ายปีนี้ (ต.ค. - ก.ย.)</th>
                <th colspan="4">รวมทั้งปีงบประมาณ</th>
                <th colspan="2">คงเหลือ ณ ปัจจุบัน </th>
                
            </tr>
            <tr>
                <th>จำนวนแสตมป์ (ดวง)</th>
                <th>ค่าพิมพ์แสตมป์(บาท)</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                
                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>

                <th>รับ (ดวง)</th>
                <th>จ่าย (ดวง)</th>
                <th>คงเหลือ</th>
                                    
                <th>รับ (ดวง)</th>
                <th>ค่าพิมพ์แสตมป์ (บาท)</th>
                <th>จ่าย (ดวง)</th>
                <th>ค่าพิมพ์แสตมป์ (บาท)</th>
                
                <th>รับ (ดวง)</th>
                <th>ค่าพิมพ์แสตมป์ (บาท)</th>
                <th>จ่าย (ดวง)</th>
                <th>ค่าพิมพ์แสตมป์ (บาท)</th>
                
                <th>จำนวนแสตมป์ (ดวง)</th>
                <th>ค่าพิมพ์แสตมป์ (บาท)</th>
            </tr>
        </thead>
    </table>
    <br>
    <div class="ui centered grid">
      <button class="ui mini yellow button" type="button"><i class="print icon"></i>ส่งออก</button>
      <button class="ui mini button" type="button"  routerLink="/int07/01/01"><i class="close icon"></i>ยกเลิก</button>
    </div>
  <br>
</segment>
