<segment header="การวิเคราะห์การยื่นชำระภาษีภายในเวลาที่กำหนด" [loading]="false">
  <table id="dataTable" class="ui small celled table striped selectable  nowrap" style="width:100%">
    <thead>
      <tr class="text-center">
        <th style="text-align: center">เดือน</th>
        <th style="text-align: center">กำหนดชำระภาษีตาม กม.</th>
        <th style="text-align: center">ข้อมูลจาก ภส. 03-07</th>
        <th style="text-align: center">ผลการตรวจสอบ</th>
      </tr>
    </thead>

  </table>
</segment>