<segment header="การวิเคราะห์การยื่นชำระภาษีสรรพสามิต" [loading]="false">
  <table id="dataTable" class="ui small celled table striped selectable nowrap" style="width:100%">
    <thead class="text-center">
      <tr>
        <th style="text-align: center !important" rowspan="2">รายการ</th>
        <th style="text-align: center !important" colspan="3">ภาษีที่ได้จากการคำนวน</th>
        <th style="text-align: center !important" colspan="3">ภาษีที่ได้จาก ภส.03-07</th>
        <th style="text-align: center !important" colspan="3">ผลต่าง</th>
      </tr>
      <tr style="text-align: center !important">
        <th style="text-align: center !important">ตามมูลค่า</th>
        <th style="text-align: center !important">ตามปริมาณ</th>
        <th style="text-align: center !important">รวม</th>
        <th style="text-align: center !important">ตามมูลค่า</th>
        <th style="text-align: center !important">ตามปริมาณ</th>
        <th style="text-align: center !important">รวม</th>
        <th style="text-align: center !important">ตามมูลค่า</th>
        <th style="text-align: center !important">ตามปริมาณ</th>
        <th style="text-align: center !important">รวม</th>
      </tr>
    </thead>

  </table>
</segment>