<with-breadcrumb [breadcrumb]="breadcrumb">
  <div class="ui grid">
    <div class="sixteen wide column">
      <segment header="รายชื่อผู้รับอนุญาต" [loading]="false">
        <div form>
          <div [center]="true" inline [formGroup]="searchFrom">
            <div field [col]="2">
              <label class="text-right full-width">สำนักงานสรรพสามิตภาค</label>
            </div>
            <div field [col]="3" [ngClass]="{'disabled': isArea}">
              <select name="sector " id="sector" class="ui dropdown ai search full-width office"
                (change)="sectorChange($event)" formControlName="sector">
                <option value=""></option>
                <option *ngFor="let sector of sectors" value="{{sector.officeCode}}">{{sector.deptName}}</option>
              </select>
            </div>
            <div field [col]="2" >
              <label class="text-right full-width">สำนักงานสรรพสามิตพื้นที่</label>
            </div>
            <div field [col]="3" [ngClass]="{'disabled': isArea}">
              <select name="area" id="area" class="ui dropdown ai search full-width office" formControlName="area">
                <option value=""></option>
                <option *ngFor="let area of areas" value="{{area.officeCode}}">{{area.deptName}}</option>
              </select>
            </div>
          </div>
          <div [center]="true" inline>
            <div class="center-all btn" field [col]="16">
              <app-button-search (click)="search()"></app-button-search>
              <app-button-clear (click)="reset()"></app-button-clear>
            </div>
          </div>
        </div>


        <table id="dataTable1" class="ui small celled table striped nowrap selectable" style="width: 100%;">
          <thead>
            <tr style="text-align: center">
              <!-- <th style="text-align: center !important;"><input class="ui checkbox" type="checkbox" name="select-all1"
                  id="select-all1" (click)="checkAll1($event)"></th> -->
              <th></th>
              <th style="text-align: center !important">สำนักงานสรรพสามิตภาค</th>
              <th style="text-align: center !important">สำนักงานสรรพสามิตพื้นที่</th>
              <th style="text-align: center !important">ชื่อผู้ประกอบการ</th>
              <th style="text-align: center !important">ประเภทใบอนุญาติ</th>
              <th style="text-align: center !important"></th>
            </tr>
          </thead>
        </table>
        <div class="one column text-center">
          <!-- <app-button-save (click)="onSaveLicense()"></app-button-save> -->
          <app-button-back (click)="goBack()"></app-button-back>
        </div>
      </segment>

    </div>
  </div>
</with-breadcrumb>