<with-breadcrumb [breadcrumb]="breadcrumb">
  <div class="ui grid">
    <div class="sixteen wide column">

      <segment header="เลือกผู้ออกตรวจ" [loading]="false">
        <div class="ui form">
          <!-- line 1 -->
          <!-- <div class="inline fields center-all">
            <div class="field">
              <label class="full-width text-center">ผู้ออกตรวจ</label>
            </div>
            <div class="field">
              <div class="ui input">
                <input type="text">
              </div>
            </div>
            <div class="field">
              <app-button-search></app-button-search>
            </div>
          </div> -->
          <!-- line 2 -->
          <div class="inline fields">
            <div class="eight wide field" style="align-self: flex-start">
              <table class="ui mini very compact table celled">
                <thead class="text-center">
                  <tr>
                    <th class="one wide"> ลำดับ</th>
                    <th class="six wide">ชื่อ</th>
                    <th class="six wide">ตำแหน่ง</th>
                    <th class="three wide">#</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <!-- <tr *ngFor="let employee of employees1; let i=index">
                    <td>{{ i+1 }}</td>
                    <td class="text-left">{{ employee }}</td>
                    <td>
                      <app-button-custom text="เลือก" icon="check"></app-button-custom>
                    </td>
                  </tr> -->
                  <tr>
                    <td>1</td>
                    <td class="text-left">นาย อาทิตย์ แก่นใจ</td>
                    <td>นักวิชาการสรรพสามิต</td>
                    <td>
                      <app-button-custom text="เลือก" icon="check"></app-button-custom>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="eight wide field" style="align-self: flex-start">
              <table class="ui mini very compact table celled">
                <thead class="text-center">
                  <tr>
                    <th class="one wide">ลำดับ</th>
                    <th class="nine wide">ชื่อ</th>
                    <th class="six wide">ตำแหน่ง</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <!-- <tr *ngFor="let employee of employees2; let i=index">
                    <td>{{ i+1 }}</td>
                    <td class="text-left">{{ employee }}</td>
                    <td>
                      <app-button-custom text="เลือก" icon="check"></app-button-custom>
                    </td>
                  </tr> -->
                  <tr>
                    <td>1</td>
                    <td class="text-left">ดร. ธีรวุฒิ กุลธิชัย</td>
                    <td>นักวิชาการสรรพสามิตชำนาญการ</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td class="text-left">รศ.ดร. เอกลักษณ์ อัมพุธ</td>
                    <td>นักวิชาการสรรพสามิต</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td class="text-left">ว่าที่ร้อยตรี ธนพนธ์ โป่งมณี</td>
                    <td>นักวิชาการสรรพสามิต</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- line 3 -->
          <div class="inline field btn text-center">
            <app-button-save (click)="save()"></app-button-save>
            <app-button-back (click)="back()"></app-button-back>
          </div>
        </div>
      </segment>

    </div>
  </div>
</with-breadcrumb>