<with-breadcrumb [breadcrumb]="breadcrumb"></with-breadcrumb>
<segment header="อัพโหลดข้อมูลบัญชีและระบบบัญชี" [loading]="false">
  <form id="upload-form" class="ui" form [formGroup]="dataSave">
    <div class="inline fields">
      <div field [col]="6">
        <label class="full-width text-right">ประเภทข้อมูล</label>
      </div>
      <div field [col]="4" [ngClass]="{'error': invalidControl('typeData')}">
        <select id="typeData" name="typeData" class="ui fluid dropdown" formControlName="typeData">
          <option value="">กรุณาเลือก</option>
          <option *ngFor="let item of typeData" [value]="item.value1">{{item.value1}}</option>
        </select>
      </div>
    </div>
    <div class="inline fields" [ngClass]="{'error': invalidControl('disburseMoney')}">
      <div field [col]="6">
        <label class="full-width text-right">เงินเบิกจ่าย</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="disburseMoney">
      </div>
    </div>
    <div class="inline fields">
      <div field [col]="6">
        <label class="full-width text-right">ประจำเดือน/งวด</label>
      </div>
      <div field [col]="4" [ngClass]="{'error': invalidControl('monthly')}">
        <input type="text" formControlName="monthly">
      </div>
    </div>
    <div class="inline fields">
      <div field [col]="6">
        <label class="full-width text-right">เลือกไฟล์</label>
      </div>
      <div field [col]="4">
          <!-- <input id="file" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" (change)="onChangeUpload($event)" required> -->
        <input id="file" type="file" name="file" accept=".xlsx" (change)="onChangeUpload($event)">
      </div>
    </div>
  </form>
  <div class="ui center aligned grid">
    <div class="eight wide column">
      <app-button-upload (click)="onSubmit()"></app-button-upload>
    </div>
  </div>
</segment>


<!-- form-data-excel -->
<form id="form-data-excel" method="POST">
  <input type="hidden" name="dataJson" id="dataJson">
</form>