<segment header="รายละเอียดแสดงผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๔/๒)" [loading]="loading" [right]="true">
  <div headRight>
    {{formTS0142.get('formTsNumber').value}}
  </div>

  <form form [formGroup]="formTS0142">
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อผู้มีหน้าที่เสียภาษี :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="ownerFullName" maxlength="100">
      </div>

      <div field [col]="2">
        <label class="text-right full-width">เลขทะเบียนสรรพสามิต :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="newRegId" maxlength="17">
      </div>
      <div field [col]="1">
        <app-button-custom [icon]="'search'" (click)="searchNewRegId()"></app-button-custom>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อโรงอุตสาหกรรม/<br>สถานบริการ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="factoryName" maxlength="200">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ประเภทกิจการ :</label>
      </div>
      <div field [col]="6">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" value="1">
          <label>โรงอุตสาหกรรม</label>
        </div>
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" value="2">
          <label>สถานบริการ</label>
        </div>
        <label>&nbsp;&nbsp;&nbsp;</label>
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" value="3">
          <label>สถานประกอบการผู้นำเข้า</label>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ประเภทสินค้า/บริการ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="dutyTypeText" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">รอบระยะเวลาที่ตรวจสอบ :</label>
      </div>
      <div field [col]="5">
        <div class="ui calendar" style="width: 100%" id="calendarAuditDateStart">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" placeholder="วว/ดด/ปปปป" id="calendarYear" formControlName="auditDateStart"
              id="auditDateStart" [attr.required]="true" autocomplete="off">
          </div>
        </div>
        <label class="text-center" style=" width:30%">ถึง</label>
        <div class="ui calendar full-width" id="calendarAuditDateEnd">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="text" placeholder="วว/ดด/ปปปป" autocomplete="off" formControlName="auditDateEnd"
              id="auditDateEnd" [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <!-- Table -->
    <table class="  ui small celled nowrap table striped selectable" style="width:101%">
      <thead>
        <tr style="text-align: center !important">
          <th rowspan="2">วัน/เดือน/ปี</th>
          <th rowspan="2">พิกัดประเภทที่</th>
          <th rowspan="2">มูลค่าจากการตรวจสอบ</th>
          <th rowspan="2">อัตราภาษี</th>
          <th rowspan="2">ภาษีสรรพสามิตที่ต้องชำระตามการตรวจสอบ</th>
          <th rowspan="2">ภาษีที่ชำระไว้แล้ว</th>
          <th colspan="6">ภาษีที่ต้องชำระเพิ่ม</th>
          <th rowspan="2">จำนวนเงินเดือนที่คิดเงินเพิ่ม</th>
          <th rowspan="2">#</th>
        </tr>
        <tr style="text-align: center !important">
          <th>ภาษี</th>
          <th>เบี้ยปรับ ตาม ม.๑๔๐</th>
          <th>เงินเพิ่ม ตาม ม.๑๔๑</th>
          <th>รวมเงิน</th>
          <th>ภาษีเพื่อราชการส่วนท้องถิ่น ตาม ม.๑๕๐</th>
          <th>รวมเงินภาษีทั้งสิ้น</th>
        </tr>
      </thead>
      <tbody formArrayName="taFormTS01142DtlVoList">
        <ng-container *ngIf="formTS0142.controls">
          <tr [formGroupName]="i" *ngFor="let item of formTS0142.controls.taFormTS01142DtlVoList.controls; let i = index;">
            <td>
              <div class="ui transparent input" id="docDate{{i}}">
                <input type="calendar" formControlName="recDate" placeholder="วว/ดด/ปปปป">
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="dutyTypeText" maxlength="100">
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="number" formControlName="valueFromAudit" maxlength="15">
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="number" formControlName="taxRate" maxlength="15">
              </div>
            </td>
            <td>
              <div class="ui transparent input">
                <input type="number" formControlName="auditTaxAmt" maxlength="15">
              </div>
            </td>
            <td>
              <div class="ui transparent input">
                <input type="number" formControlName="paidTaxAmt" maxlength="15">
              </div>
            </td>
            <td>
              <div class="ui transparent input">
                <input type="number" formControlName="addTaxAmt" maxlength="15">
              </div>
            </td>
            <td>
              <div class="ui transparent input">
                <input type="number" formControlName="addFineAmt" maxlength="15">
              </div>
            </td>
            <td>
              <div class="ui transparent input">
                <input type="number" formControlName="addExtraAmt" maxlength="15">
              </div>
            </td>
            <td>
              <div class="ui transparent input">
                <input type="number" formControlName="addSumTaxAmt" maxlength="15">
              </div>
            </td>
            <td>
              <div class="ui transparent input">
                <input type="number" formControlName="addMoiAmt" maxlength="15">
              </div>
            </td>
            <td>
              <div class="ui transparent input">
                <input type="number" formControlName="addSumAllTaxAmt" maxlength="15">
              </div>
            </td>
            <td>
              <div class="ui transparent input">
                <input type="number" formControlName="addMonthNum" maxlength="4">
              </div>
            </td>
            <td>
              <i *ngIf="i!=0" class="minus icon" style="color:red;cursor: pointer" (click)="removeItem(i)"></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="ui bottom centered attached ">
      <div class="ui left aligned grid">
        <div class="one wide column">
          <a>
            <a href="javascript:void(0)" (click)="addItem()"><i class="plus icon" style="color:green;"></i>เพิ่ม</a>
          </a>
        </div>
      </div>
    </div>
    <br>
    <div inline>
      <div field [col]="3">
        <label class="text-right full-width">หมายเหตุ เงินเพิ่มคำนวณถึงวันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendar2">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" placeholder="วว/ดด/ปปปป" id="calendarYear" formControlName="extraAmtDate"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
      <div field [col]="3">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ผู้มีหน้าที่เสียภาษี :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signOwnerFullName" maxlength="100">
      </div>
    </div>
    <div inline>
      <div field [col]="8">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ผู้ตรวจสอบ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signOfficerFullName" maxlength="100">
      </div>
    </div>
    <br>
    <br>
    <app-button-footer-report (save)="save($event)" (clear)="clear($event)" (export)="export($event)">
    </app-button-footer-report>
  </form>
</segment>