<segment header="ใบรับตราสารและหลักฐานต่างๆ (ตส. ๐๑-๑๒)" [loading]="loading" [right]="true">
  <div headRight>
    {{formGroup.get('formTsNumber').value}}
  </div>

  <form form [formGroup]="formGroup">
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">สถานที่ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="docPlace" id="docPlace">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">วันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarDocDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="docDate" id="docDate" placeholder="วว/ดด/ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ข้าพเจ้า :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="headOfficerFullName" id="headOfficerFullName">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="headOfficerPosition" id="headOfficerPosition">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">สังกัด :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="headOfficerOfficeName" id="headOfficerOfficeName">
      </div>
      <div field [col]="2">
        <label class="text-left full-width">พร้อมด้วย</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">(๑) :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerFullName1" id="officerFullName1">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerPosition1" id="officerPosition1">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">(๒) :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerFullName2" id="officerFullName2">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerPosition2" id="officerPosition2">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">(๓) :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerFullName3" id="officerFullName3">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerPosition3" id="officerPosition3">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">(๔) :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerFullName4" id="officerFullName4">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerPosition4" id="officerPosition4">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">(๕) :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerFullName5" id="officerFullName5">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officerPosition5" id="officerPosition5">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="4">
        <label class="text-left full-width">ได้มาทำการตรวจสอบภาษีสรรพสามิต ณ</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">เลขทะเบียนสรรพสามิต :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="newRegId" id="newRegId">
      </div>
      <div field [col]="1">
        <app-button-custom [icon]="'search'" (click)="searchNewRegId()"></app-button-custom>
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อโรงอุตสาหกรรม/<br>สถานบริการ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="factoryName" id="factoryName">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ที่อยู่เลขที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facAddrNo" id="facAddrNo">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">ตรอก/ซอย :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facSoiName" id="facSoiName">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">ถนน :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facThnName" id="facThnName">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ตำบล/แขวง :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facTambolSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facTambolName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facTambolName" id="facTambolName"> -->
      </div>
      <div field [col]="1">
        <label class="text-right full-width">อำเภอ/เขต :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facAmphurSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facAmphurName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facAmphurName" id="facAmphurName"> -->
      </div>
      <div field [col]="1">
        <label class="text-right full-width">จังหวัด :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facProvinceSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facProvinceName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facProvinceName" id="facProvinceName"> -->
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">รหัสไปรษณีย์ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facZipCode" id="facZipCode">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">โดยมี :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="ownerFullName1" id="ownerFullName1">
      </div>
      <div field [col]="2">
        <label class="text-left full-width">เป็นผู้ส่งมอบ</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">มีส่วนเกี่ยวข้องเป็น :</label>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="ownerPosition" id="ownerPosition" value="1">
          <label>เจ้าของ</label>
        </div>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="ownerPosition" id="ownerPosition" value="2">
          <label>หุ้นส่วนผู้จัดการ</label>
        </div>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="ownerPosition" id="ownerPosition" value="3">
          <label>กรรมการผู้จัดการ</label>
        </div>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="ownerPosition" id="ownerPosition" value="4">
          <label>อื่นๆ (ระบุ) :</label>
        </div>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="ownerOther" id="ownerOther">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <label class="text-left full-width">การตรวจสอบได้พบเหตุผลพอจะเชื่อได้ว่า
          โรงอุตสาหกรรมหรือสำนักงานแห่งนี้ ปฏิบัติการเสียภาษีสรรพสามิตไม่ถูกต้องตามหมวด&nbsp;<input type="text"
            formControlName="lawGroup" id="lawGroup" style="width : 130px">&nbsp;
          แห่งพระราชบัญญัติภาษีสรรพสามิต พ.ศ. ๒๕๖๐ จึงได้ยึด เอกสาร บัญชี และสินค้าตราสารของโรงอุตสาหกรรม
          หรือสำนักงานแห่งนี้ไปดำเนินการมีจำนวนดังต่อไปนี้ คือ :</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <textarea formControlName="seizeDesc" id="seizeDesc" rows="4"></textarea>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <label>บรรดาเอกสารหลักฐานที่ยึดไปนี้ หากท่านประสงค์จะตรวจสอบเพื่อการดำเนินกิจการของท่าน ขอให้ท่านติดต่อได้ที่
          :</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <input type="text" formControlName="contactDesc" id="contactDesc">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ข้าพเจ้า :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="ownerFullName2" id="ownerFullName2">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">มีส่วนเกี่ยวข้องเป็น :</label>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="ownerPosition2" id="ownerPosition2" value="1">
          <label>เจ้าของ</label>
        </div>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="ownerPosition2" id="ownerPosition2" value="2">
          <label>หุ้นส่วน</label>
        </div>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="ownerPosition2" id="ownerPosition2" value="3">
          <label>กรรมการผู้จัดการ</label>
        </div>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="ownerPosition2" id="ownerPosition2" value="4">
          <label>อื่นๆ (ระบุ) :</label>
        </div>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="ownerOther2" id="ownerOther2">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <label class="text-left full-width">ขอรับรองว่าเอกสารหลักฐานดังกล่าว เจ้าพนักงานได้ยึดไปจาก
          โรงอุตสาหกรรมหรือสำนักงานของข้าพเจ้าและได้ตรวจสอบจำนวนถูกต้องแล้ว
        </label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ผู้ส่งมอบเอกสารหลักฐาน :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signAuthFullName" id="signAuthFullName">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">พยาน :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signWitnessFullName1" id="signWitnessFullName1">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ผู้ตรวจสอบ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signInspectorFullName" id="signInspectorFullName">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">พยาน :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signWitnessFullName2" id="signWitnessFullName2">
      </div>
    </div>
    <br>
    <br>
    <app-button-footer-report (save)="save($event)" (clear)="clear($event)" (export)="export($event)">
    </app-button-footer-report>
  </form>
</segment>