<div class="sixteen wide column">
  <div class="ui attached centered segment">
    <br>
    <div class="ui form">
      <div class="inline fields">
        <div class="two wide field ">
        </div>
        <div class="four wide field ">
          <label class="text-left full-width" style="font-size:30px;">หลังออกตรวจ</label>
        </div>
        <div class="ten wide field">
        </div>
      </div>

      <div class="ui bottom attached ">
        <!-- ตรวจสอบพัสดุ  -->
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="four wide field "></div>
          <div class="two wide field">
            สถานะการดำเนินงาน
          </div>
          <div class="two wide field ">
            สถานะการอนุมัติ
          </div>
          <div class="four wide field"></div>
          <div class="two wide field "></div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">1.ผลสรุปการตรวจ</label>
          </div>
          <div class="two wide field">
          </div>
          <div class="two wide field ">
          </div>
          <div class="four wide field">
          </div>
          <div class="two wide field ">
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;1.1.สรุปผลการตรวจสอบภายใน</label>
          </div>
          <div class="two wide field" style="color:green;">
            <div class="four wide field"></div>
            <div class="eight wide field">สำเร็จ</div>
            <div class="four wide field"></div>
          </div>
          <div class="two wide field " style="color:green;">
            <div class="four wide field"></div>
            <div class="eight wide field" style="margin-right: 50px;">ผ่าน</div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" [routerLink]="['/int11/01']"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" [routerLink]="['/int11/01']"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;1.2.รายงานผลการตรวจสอบการปฏิบัติงาน</label>
          </div>
          <div class="two wide field" style="color:green;">
            <div class="four wide field"></div>
            <div class="eight wide field">สำเร็จ</div>
            <div class="four wide field"></div>
          </div>
          <div class="two wide field " style="color:green;">
            <div class="four wide field"></div>
            <div class="eight wide field" style="margin-right: 50px;">-</div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" [routerLink]="['/int11/02']"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" [routerLink]="['/int11/02']"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>


        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;1.3.บันทึกข้อความ</label>
          </div>
          <div class="two wide field" style="color:blue;">
            <div class="three wide field"></div>
            <div class="ten wide field"></div>
            <div class="three wide field"></div>
          </div>
          <div class="two wide field ">
            <div class="four wide field"></div>
            <div class="eight wide field"></div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
          </div>
          <div class="two wide field "></div>
        </div>
        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เรียน
              ผู้อำนวยการสำนักงานสรรพสามิตภาคที่ 1 </label>
          </div>
          <div class="two wide field" style="color:green;">
            <div class="four wide field"></div>
            <div class="eight wide field">สำเร็จ</div>
            <div class="four wide field"></div>
          </div>
          <div class="two wide field " style="color:green;">
            <div class="four wide field"></div>
            <div class="eight wide field" style="margin-right: 50px;">ผ่าน</div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" [routerLink]="['/int11/03']"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" [routerLink]="['/int11/03']"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เรียน
              สรรพสามิตพื้นที่พระนครศรีอยุธยา 2 </label>
          </div>
          <div class="two wide field" style="color:green;">
            <div class="four wide field"></div>
            <div class="eight wide field">สำเร็จ</div>
            <div class="four wide field"></div>
          </div>
          <div class="two wide field " style="color:green;">
            <div class="four wide field"></div>
            <div class="eight wide field" style="margin-right: 50px;">ผ่าน</div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" [routerLink]="['/int11/03']"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" [routerLink]="['/int11/03']"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>


        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;1.4.ติดตามผลการปฏิบัติตามข้อเสนอแนะ</label>
          </div>
          <div class="two wide field" style="color:green;">
            <div class="four wide field"></div>
            <div class="eight wide field">สำเร็จ</div>
            <div class="four wide field"></div>
          </div>
          <div class="two wide field " style="color:green;">
            <div class="four wide field"></div>
            <div class="eight wide field" style="margin-right: 50px;">ผ่าน</div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" [routerLink]="['/int11/04']"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" [routerLink]="['/int11/04']"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">2.หลักฐานการจ่ายเงินค่าใช้จ่ายในการเดินทางไปราชการ</label>
          </div>
          <div class="two wide field">
          </div>
          <div class="two wide field ">
          </div>
          <div class="four wide field">
          </div>
          <div class="two wide field ">
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;หลักฐานการจ่ายเงินค่าใช้จ่ายในการเดินทางไปราชการ
              (เงินงบประมาณ)</label>
          </div>
          <div class="two wide field" style="color:blue;">
            <div class="three wide field"></div>
            <div class="ten wide field">กำลังดำเนินการ</div>
            <div class="three wide field"></div>
          </div>
          <div class="two wide field ">
            <div class="four wide field"></div>
            <div class="eight wide field">-</div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" [routerLink]="['/int05/01/01/03']"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" [routerLink]="['/int05/01/01/03']"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;หลักฐานการจ่ายเงินค่าใช้จ่ายในการเดินทางไปราชการ
              (เงินนอกงบประมาณ)</label>
          </div>
          <div class="two wide field" style="color:blue;">
            <div class="three wide field"></div>
            <div class="ten wide field">กำลังดำเนินการ</div>
            <div class="three wide field"></div>
          </div>
          <div class="two wide field ">
            <div class="four wide field"></div>
            <div class="eight wide field">-</div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" [routerLink]="['/int05/01/01/03']"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" [routerLink]="['/int05/01/01/03']"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>

        <!-- ------------------------------------------ -->

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">3.ใบเบิกค่าใช้จ่ายในการเดินทางไปราชการ</label>
          </div>
          <div class="two wide field" style="color:blue;">
            <div class="three wide field"></div>
            <div class="ten wide field">กำลังดำเนินการ</div>
            <div class="three wide field"></div>
          </div>
          <div class="two wide field ">
            <div class="four wide field"></div>
            <div class="eight wide field">-</div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" [routerLink]="['/int05/01/01/04']"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" [routerLink]="['/int05/01/01/04']"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>

        <!-- ------------------------------------------ -->

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">4.หนังสือขอเบิกเงินค่าใช้จ่ายในการเดินทางไปราชการ</label>
          </div>
          <div class="two wide field">
          </div>
          <div class="two wide field ">
          </div>
          <div class="four wide field">
          </div>
          <div class="two wide field ">
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;หนังสือขอเบิกเงินค่าใช้จ่ายในการเดินทางไปราชการ (เงินงบประมาณ)</label>
          </div>
          <div class="two wide field" style="color:blue;">
            <div class="three wide field"></div>
            <div class="ten wide field">กำลังดำเนินการ</div>
            <div class="three wide field"></div>
          </div>
          <div class="two wide field ">
            <div class="four wide field"></div>
            <div class="eight wide field">-</div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" [routerLink]="['/int11/03']"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" [routerLink]="['/int11/03']"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;หนังสือขอเบิกเงินค่าใช้จ่ายในการเดินทางไปราชการ (เงินนอกงบประมาณ)</label>
          </div>
          <div class="two wide field" style="color:blue;">
            <div class="three wide field"></div>
            <div class="ten wide field">กำลังดำเนินการ</div>
            <div class="three wide field"></div>
          </div>
          <div class="two wide field ">
            <div class="four wide field"></div>
            <div class="eight wide field">-</div>
            <div class="four wide field"></div>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" [routerLink]="['/int11/03']"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" [routerLink]="['/int11/03']"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>

      </div>
    </div>
  </div>
</div>