<with-breadcrumb [breadcrumb]="breadcrumb">
  <segment header="รายละเอียดผลการประเมินความเสี่ยง ปีงบประมาณ {{budgetYear}}" [loading]="false" [right]="true">
    <div headRight>
      <app-button-custom color="gray" [text]="toggleButtonTxt" (click)="toggleBody()" (click)="showModal2()">
      </app-button-custom>
    </div>
    <div *ngIf="showBody">
      <div class="ui form">
        <div class="inline fields" *ngIf="dataopen2">
          <div class="two wide field "></div>
          <div class="two wide field ">
            <label>อัตราความเสี่ยง &nbsp; เท่ากับ &nbsp; {{datalist.verylowRating}}</label>
          </div>
          <div class="two wide field ">
            <label>ระดับความเสี่ยง &nbsp; &nbsp; {{datalist.verylow}}</label>
          </div>
          <div class="ten wide field ">
            <label>{{infoUsedRiskDesc}} &nbsp; {{verylowthai}} &nbsp; {{datalist.verylowStart}} &nbsp;
              {{datalist.riskUnit}}</label>
            <label *ngIf="verylowthai2 != 'ไม่ระบุ' ">และ &nbsp; {{verylowthai2}} &nbsp; {{datalist.verylowEnd}} &nbsp;
              {{datalist.riskUnit}}</label>
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field ">
            <label>อัตราความเสี่ยง &nbsp; เท่ากับ &nbsp; {{datalist.lowRating}} </label>
          </div>
          <div class="two wide field ">
            <label>ระดับความเสี่ยง &nbsp; &nbsp; {{datalist.low}}</label>
          </div>
          <div class="ten wide field ">
            <label>{{infoUsedRiskDesc}} &nbsp; {{lowthai}} &nbsp; {{datalist.lowStart}} &nbsp;
              {{datalist.riskUnit}}</label>
            <label *ngIf="lowthai2 != 'ไม่ระบุ' ">และ &nbsp; {{lowthai2}} &nbsp; {{datalist.lowEnd}} &nbsp;
              {{datalist.riskUnit}}</label>
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field ">
            <label>อัตราความเสี่ยง &nbsp; เท่ากับ &nbsp; {{datalist.mediumRating}}</label>
          </div>
          <div class="two wide field ">
            <label>ระดับความเสี่ยง &nbsp; &nbsp; {{datalist.medium}}</label>
          </div>
          <div class="ten wide field ">
            <label>{{infoUsedRiskDesc}} &nbsp; {{mediumthai}} &nbsp; {{datalist.mediumStart}} &nbsp;
              {{datalist.riskUnit}}</label>
            <label *ngIf="mediumthai2 != 'ไม่ระบุ' ">และ &nbsp; {{mediumthai2}} &nbsp; {{datalist.mediumEnd}} &nbsp;
              {{datalist.riskUnit}}</label>
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field ">
            <label>อัตราความเสี่ยง &nbsp; เท่ากับ &nbsp; {{datalist.highRating}}</label>
          </div>
          <div class="two wide field ">
            <label>ระดับความเสี่ยง &nbsp; &nbsp; {{datalist.high}}</label>
          </div>
          <div class="ten wide field ">
            <label>{{infoUsedRiskDesc}} &nbsp; {{highthai}} &nbsp; {{datalist.highStart}} &nbsp;
              {{datalist.riskUnit}}</label>
            <label *ngIf="highthai2 != 'ไม่ระบุ' ">และ &nbsp; {{highthai2}} &nbsp; {{datalist.highEnd}} &nbsp;
              {{datalist.riskUnit}}</label>
          </div>
        </div>

        <div class="inline fields" *ngIf="dataopen2">
          <div class="two wide field "></div>
          <div class="two wide field ">
            <label>อัตราความเสี่ยง &nbsp; เท่ากับ &nbsp; {{datalist.veryhighRating}}</label>
          </div>
          <div class="two wide field ">
            <label>ระดับความเสี่ยง &nbsp; &nbsp; {{datalist.veryhigh}}</label>
          </div>
          <div class="ten wide field ">
            <label>{{infoUsedRiskDesc}} &nbsp; {{veryhighthai}} &nbsp; {{datalist.veryhighStart}} &nbsp;
              {{datalist.riskUnit}}</label>
            <label *ngIf="veryhighthai2 != 'ไม่ระบุ' ">{{veryhighthai2}} &nbsp; {{datalist.veryhighEnd}} &nbsp;
              {{datalist.riskUnit}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="ui form">
      <div class="inline fields">
        <div class="seven wide field">
          <label>ปัจจัยเสี่ยง : {{riskFactors}}</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="nine wide field">
          <label>ข้อมูลที่ใช้ประเมินความเสี่ยง : {{infoUsedRiskDesc}}</label>
        </div>
        <div class="five wide field">
          <label class="text-right full-width">ปีงบประมาณ</label>
        </div>
        <div class="two wide field disabled" style="padding-right: 0">
          <div class="ui calendar" id="yearCalendar" style="width:100%">
            <div class="ui input left icon">
              <i class="calendar alter nate outline icon"></i>
              <input type="text" autocomplete="off" id="year" name="year" placeholder="ปปปป" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <table class="ui small celled table nowrap striped selectable dataTable no-footer" id="dataTable"
          style="width: 100%;" role="grid" aria-describedby="dataTable_info">
          <thead>
            <tr class="text-center">
              <th rowspan="2">ลำดับ</th>
              <th rowspan="2">สำนัก / สำนักงานสรรพสามิตภาค</th>
              <th rowspan="2">ฝ่าย / ส่วน / สำนักงานสรรพสามิตพื้นที่</th>
              <th rowspan="2" style="text-align: center !important">ผลการจัดเก็บรายได้</th>
              <th rowspan="2" style="text-align: center !important">ประมาณการรายได้</th>
              <th rowspan="2" style="text-align: center !important">ผลต่าง</th>
              <th rowspan="2" style="text-align: center !important">อัตราสูงต่ำ</th>
              <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
            </tr>
            <tr class="text-center">
              <th style="text-align: center !important">อัตราความเสี่ยง</th>
              <th style="text-align: center !important">แปลงค่าความเสี่ยง</th>
            </tr>
          </thead>
          <!-- <tbody>
            <tr class="text-center" *ngIf="lists.length==0">
              <td colspan="9">ไม่พบข้อมูล</td>
            </tr>
            <tr class="text-center" *ngFor="let list of lists; let i = index">
              <td>{{ i+1 }}</td>
              <td class="text-left">{{ list.sector }}</td>
              <td class="text-left">{{ list.area }}</td>
              <td class="text-right">{{ list.sumAmount | decimalFormat }}</td>
              <td class="text-right">{{ list.forecaseAmount | decimalFormat }}</td>
              <td class="text-right">{{ list.diffAmount | decimalFormat }}</td>
              <td class="text-right">{{ list.rateAmount | decimalFormat }}</td>
              <td>{{ list.rateRisk }}</td>
              <td class="{{ list.colorRisk }}">{{ list.textRisk }}</td>
            </tr>
          </tbody> -->
        </table>
      </div>
      <div class="inline field text-center">
        <app-button-export (click)="showModal1()"></app-button-export>
        <app-button-back routerLink="/int03/04"></app-button-back>
        <!-- <app-button-cancel routerLink="/int03/04"></app-button-cancel> -->
      </div>
    </div>
  </segment>
</with-breadcrumb>

<ui-modal [id]="'modal1'" [type]="'custom'">
  <div class="ui header">
    รายละเอียดหัวกระดาษทำการ
  </div>
  <div class="content">
    <div class="ui form">
      <form [formGroup]="dataExport">
        <div class="inline fields">
          <div class="three wide field required">
            <label class="text-right full-width">ชื่อกระดาษทำการ</label>
          </div>
          <div class="eight wide field ">
            <input class="custom ng-untouched ng-pristine ng-valid" id="riskHrdPaperName" maxlength="100"
              name="riskHrdPaperName" placeholder="ชื่อกระดาษทำการ" type="text" formControlName="riskHrdPaperName">
          </div>
          <div class="two wide field required">
            <label class="text-right full-width">ปีงบประมาณ</label>
          </div>
          <div class="four wide field ">
            <input class="custom ng-untouched ng-pristine" disabled="" id="budgetYear" name="budgetYear"
              placeholder="ปีงบประมาณ" type="text" formControlName="budgetYear">
          </div>
        </div>
        <div class="inline fields">
          <div class="three wide field required">
            <label class="text-right full-width">ผู้จัดทำ : ชื่อ </label>
          </div>

          <div class="three wide field ">
            <input class="custom ng-untouched ng-pristine ng-valid" id="createUserName" name="createUserName"
              placeholder="ชื่อผู้จัดทำ" type="text" formControlName="createUserName">
          </div>
          <div class="two wide field required">
            <label class="text-right full-width">นามสกุล</label>
          </div>
          <div class="three wide field ">
            <input class="custom ng-untouched ng-pristine ng-valid" id="createLastName" name="createLastName"
              placeholder="นามสกุล" type="text" formControlName="createLastName">
          </div>
          <div class="two wide field required">
            <label class="text-right full-width">ตำแหน่ง</label>
          </div>
          <div class="four wide field ">
            <input class="custom ng-untouched ng-pristine ng-valid" id="createPosition" name="createPosition"
              placeholder="ตำแหน่ง" type="text" formControlName="createPosition">
          </div>
        </div>
        <div class="inline fields">
          <div class="three wide field required">
            <label class="text-right full-width">ผู้ตรวจ : ชื่อ </label>
          </div>
          <div class="three wide field ">
            <input class="custom ng-untouched ng-pristine ng-valid" id="checkUserName" name="checkUserName"
              placeholder="ชื่อผู้ตรวจ" type="text" formControlName="checkUserName">
          </div>
          <div class="two wide field required">
            <label class="text-right full-width">นามสกุล</label>
          </div>
          <div class="three wide field ">
            <input class="custom ng-untouched ng-pristine ng-valid" id="checkLastName" name="checkLastName"
              placeholder="นามสกุล" type="text" formControlName="checkLastName">
          </div>
          <div class="two wide field required">
            <label class="text-right full-width">ตำแหน่ง</label>
          </div>
          <div class="four wide field ">
            <input class="custom ng-untouched ng-pristine" id="checkPosition" name="checkPosition" placeholder="ตำแหน่ง"
              type="text" formControlName="checkPosition">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="actions ">
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <!-- <button class="ui mini primary button" type="submit" ><i class="save icon"></i>บันทึก</button> -->
        <app-button-save class="positive" (click)="export()"></app-button-save>
        <app-button-cancel class="negative"></app-button-cancel>
      </div>
    </div>
  </div>
</ui-modal>