<segment header="การวิเคราะห์รายได้ เปรียบเทียบเดือนเดียวกันกับปีก่อนหน้า" [loading]="false">
  <table id="dataTable" class="ui small celled table striped selectable  nowrap" style="width:100%">
    <thead>
      <tr class="text-center">
        <th class="text-center">ลำดับ</th>
        <th class="text-center">เดือน</th>
        <th class="text-center">รายได้เปรียบเทียบปีก่อนหน้า</th>
        <th class="text-center">รายได้ปีที่เลือก</th>
        <th class="text-center">ผลต่าง (บาท)</th>
        <th class="text-center">ผลต่าง (ร้อยละ)</th>
      </tr>
    </thead>

  </table>
</segment>