<with-breadcrumb [breadcrumb]="breadcrumb">

  <segment header="รายการออกตรวจควบคุม" [loading]="false">
    <div class="ui form grid">
      <div class="one wide column"></div>
      <div class="fourteen wide column">
        <div class="ui secondary  segment">
          <div class="ui grid">
            <div class="sixteen wide column">
              <h4 style="color: #000;"><i class="calendar alternate outline icon large ui" style="color: blue"></i>รายการออกตรวจควบคุมประจำวันที่
                18 กุมภาพันธ์ 2562</h4>
            </div>
          </div>
          <div class="ui form grid">
            <div class="sixteen wide column">
              <div class="ui cards">
                <div class="card">
                  <div class="content">
                    <div class="header">
                      <i class="home icon  floated  ui" style="color: #6090e6"></i>
                      หจก.หนองแฝกการสุรา
                    </div>
                    <div class="meta">

                    </div>
                    <div class="description">
                      <b>81 หมู่.5 ต.หนองแฝก อ.สารภี จ.เชียงใหม่</b>
                    </div>
                  </div>
                  <div class="extra content">
                    <div class="ui two buttons">
                      <app-button-custom color="primary" icon="eye icon" text="ออกตรวจ" routerLink="/ope04/09/01">
                      </app-button-custom>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <div class="header">
                      <i class="home icon  floated  ui" style="color: #6090e6"></i>
                      หจก.สาโทลำไยทอง
                    </div>
                    <div class="meta">

                    </div>
                    <div class="description">
                      <b>111/2 หมู่.3 ต.หนองทอง อ.ทางดง จ.เชียงใหม่</b>
                    </div>
                  </div>
                  <div class="extra content">
                    <div class="ui two buttons">
                      <app-button-custom color="primary" icon="eye icon" text="ออกตรวจ" routerLink="/ope04/09/01">
                      </app-button-custom>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="content">
                    <div class="header">
                      <i class="home icon  floated  ui" style="color: #6090e6"></i>
                      หจก.ดวงจันทร์การสุรา
                    </div>
                    <div class="meta">

                    </div>
                    <div class="description">
                      <b>87/1 ม.6 ต.หนองทอง อ.ทางดง จ.เชียงใหม่</b>
                    </div>
                  </div>
                  <div class="extra content">
                    <div class="ui two buttons">
                      <app-button-custom color="primary" icon="eye icon" text="ออกตรวจ" routerLink="/ope04/09/01">
                      </app-button-custom>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="one wide column"></div>
    </div>
  </segment>

</with-breadcrumb>