<with-breadcrumb [breadcrumb]="breadcrumb" >
    <segment header="แก้ไขรายละเอียดการสรุปผลการตรวจสอบภายใน" [loading]="false">
        <form [formGroup]="editForm">
            <div class="ui form grid ">
                <div class="ui twelve wide centered column">
                    <!-- row1 -->
                    <div class="inline fields">
                        <div class="four wide field">
                            <label class="text-right full-width">ประเด็นที่ตรวจ :</label>
                        </div>
                        <div class="ten  wide field">
                            <textarea rows="3" style="width: 100%;" formControlName="issues"></textarea>
                        </div>
                    </div>
                    <!-- row2 -->
                    <div class="inline fields">
                        <div class="four wide field">
                            <label class="text-right full-width">ข้อตรวจพบ/ข้อสังเกต <br>(ข้อเท็จจริง/Condition)
                                :</label>
                        </div>
                        <div class="ten  wide field">
                            <textarea rows="3" style="width: 100%;"
                                formControlName="detectedObserved">ข้อสังเกต</textarea>
                        </div>
                    </div>
                    <!-- row3 -->
                    <div class="inline fields">
                        <div class="four wide field">
                            <label class="text-right full-width">สิ่งที่ควรจะเป็น <br>(หลักเกณฑ์/Criteria) :</label>
                        </div>
                        <div class="ten  wide field">
                            <textarea rows="3" style="width: 100%;"
                                formControlName="whatShouldBe">สิ่งที่ควรจะเป็น</textarea>
                        </div>
                    </div>
                    <!-- row4 -->
                    <div class="inline fields">
                        <div class="four wide field">
                            <label class="text-right full-width">ความเสี่ยงและผลกระทบ<br>(Risk & Effect) :</label>
                        </div>
                        <div class="ten  wide field">
                            <textarea rows="3" style="width: 100%;" formControlName="riskEffect"></textarea>
                        </div>
                    </div>
                    <!-- row5 -->
                    <div class="inline fields">
                        <div class="four wide field">
                            <label class="text-right full-width">สาเหตุ<br>(Cause) :</label>
                        </div>
                        <div class="ten  wide field">
                            <textarea rows="3" style="width: 100%;" formControlName="cause"></textarea>
                        </div>
                    </div>
                    <!-- row6 -->
                    <div class="inline fields">
                        <div class="four wide field">
                            <label class="text-right full-width">ข้อเสนอแนะของผู้ตรวจสอบภายใน <br>/ ความเห็นหน่วยรับตรวจ
                                :</label>
                        </div>
                        <div class="ten  wide field">
                            <textarea rows="3" style="width: 100%;" formControlName="recommend"></textarea>
                        </div>
                    </div>
                    <hr>

                    <div class="ui one column centered grid">
                        <div class="column aligned center">
                            <app-button-save (click)="sendEdit()"></app-button-save>
                            <app-button-back (click)="routeTo('/int11/01', idHead)"></app-button-back>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </segment>
</with-breadcrumb>