<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<br>
<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>ค้นหาข้อมูลการเดินทาง</span>
</div>
<div class="ui form center aligned" id="int09-1" ngNativeValidate>
  <div class="ui attached  segment">
    <input type="hidden" id="searchFlag">
    <input type="hidden" id="id">
    <input type="hidden" id="travelTo">
    <input type="hidden" id="travelToId">
    <!-- <div class="inline fields">
      <div class="two wide field"></div>
      <div class="two wide field">
        <label>วันที่สร้าง</label>
      </div>
      <div class="four wide field">
        <div class="ui calendar" id="date" style="width: 100%;">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="text" id="dateFrom" name="date-raw" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป"
              [attr.required]="true">
          </div>
        </div>
      </div>
      <div class="two wide field">
        <label>ถึง</label>
      </div>
      <div class="four wide field">
        <div class="ui calendar" id="date2" style="width: 100%;">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="text" id="dateTo" name="date-raw" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป"
              [attr.required]="true">
          </div>
        </div>
      </div>
    </div>

    <div class="inline fields">
      <div class="two wide field"></div>
      <div class="two wide field">
        <label>ผู้สร้าง</label>
      </div>
      <div class="four wide field">
        <input id="createdBy" type="text" maxlength="1000" name="name" required>
      </div>
      <div class="two wide field">
        <label>ประเภทการเบิก</label>
      </div>
      <div class="four wide field">
        <select class="ui dropdown search selection" style="width: 100%;" id="pickedType">
          <option value="">กรุณาเลือก</option>
          <option *ngFor="let data of pickedTypeList" value="{{data.lovId}}">{{data.typeDescription}}</option>
        </select>
      </div>
    </div> -->

    <div class="inline fields">

      <div class="two wide field"></div>
      <div class="two wide field">
        <label>ปีงบประมาณ</label>
      </div>
      <div class="four wide field column">
        <div class="ui calendar" id="date3" style="width: 100%;">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input id="fiscalYear" type="text" name="date-raw" autocomplete="off" [attr.readonly]="null" placeholder="ปปปป"
              [attr.required]="true">
          </div>
        </div>
      </div>
      <div class="two wide field">
        <label>สถานะการดำเนินการ</label>
      </div>
      <div class="four wide field">
        <select class="ui dropdown search selection" style="width: 100%;" id="status">
          <option value="">กรุณาเลือก</option>
          <option *ngFor="let data of statusList" value="{{data.lovId}}">{{data.typeDescription}}</option>
        </select>
      </div>
    </div>
    <div class="inline fields">
      <div class="two wide field"></div>
      <div class="two wide field">
        <label>วันที่เดินทางไป</label>
      </div>
      <div class="four wide field">
        <div class="ui calendar" id="date4" style="width: 100%;">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="text" id="departureDate" name="date-raw" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป"
              [attr.required]="true">
          </div>
        </div>
      </div>
      <div class="two wide field">
        <label>วันที่เดินทางกลับ</label>
      </div>
      <div class="four wide field">
        <div class="ui calendar" id="date5" style="width: 100%;">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="text" id="returnDate" name="date-raw" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป"
              [attr.required]="true">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="inline fields">
      <div class="four wide field"></div>
      <div class="two wide field">
        <label>เดินทางไป</label>
      </div>
    </div>
    <div class="inline fields">
      <div class="two wide field"></div>
      <div class="two wide field">
        <label>สำนักงานสรรพสามิตภาค</label>
      </div>
      <div class="four wide field">
        <select class="ui dropdown search selection" style="width: 100%;" id="travelTo1" (change)="travelTo2Dropdown($event)">
          <option value="">กรุณาเลือก</option>
          <option *ngFor="let data of travelTo1List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
        </select>
      </div>
      <div class="two wide field">
        <label>สำนักงานสรรพสามิตพื้นที่</label>
      </div>
      <div class="four wide field">
        <select class="ui dropdown search selection" style="width: 100%;" id="travelTo2" (change)="travelTo3Dropdown($event)">
          <option value="">กรุณาเลือก</option>
          <option *ngFor="let data of travelTo2List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
        </select>
      </div>
    </div>
    <div class="inline fields">
      <div class="two wide field"></div>
      <div class="two wide field">
        <label>สำนักงานสรรพสามิตพื้นที่สาขา</label>
      </div>
      <div class="four wide field">
        <select class="ui dropdown search selection" style="width: 100%;" id="travelTo3" (change)="setTravelTo($event)">
          <option value="">กรุณาเลือก</option>
          <option *ngFor="let data of travelTo3List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
        </select>
      </div>
    </div>
    <br>
    <div class="ui center aligned grid">
      <div class="eight wide column">
        <button class="ui mini primary button" type="button" (click)="clickSearch()"><i class="search icon"></i>ค้นหา</button>
        <button class="ui mini button" type="button" (click)="clickClear()"><i class="sync icon"></i> ล้างข้อมูล</button>
        <button class="ui mini  green button" type="button" (click)="modalAddHead()"><i class="plus icon"></i>รายการใหม่</button>
      </div>
    </div>
    <br>
  </div>
</div>
<br>
<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>รายละเอียดการเดินทาง</span>
</div>
<div class="ui attached  segment">
  <br>
  <table id="tableData" class="ui small celled table nowrap striped selectable" style="width: 100%">
    <thead>

      <tr>
        <th style="text-align: center !important;">ลำดับที่</th>
        <th style="text-align: center !important;">วันที่สร้าง</th>
        <th style="text-align: center !important;">ผู้สร้าง</th>
        <th style="text-align: center !important;">ประเภทการเบิก</th>
        <th style="text-align: center !important;">ปีงบประมาณ</th>
        <th style="text-align: center !important;">วันที่เดินทางไป</th>
        <th style="text-align: center !important;">วันที่เดินทางกลับ</th>
        <th style="text-align: center !important;">เดินทางไป</th>
        <th style="text-align: center !important;">สถานะการดำเนินการ</th>
        <th style="text-align: center !important;width:180px !important">จัดการ</th>
      </tr>

    </thead>
  </table>
</div>

<!-- add Haed modal -->
<div class="ui large modal  transition hidden" id='modalAddHead'>

  <div class="header" style="text-align: center !important;background: #1e83db;color: white">
    ระบุรายละเอียดหัวกระดาษปะมาณการค่าใช้จ่ายในการเดินทางไปราชการ
  </div>

  <div class="content">
    <div class="ui form">
      <input type="hidden" id="travelToAdd">
      <input type="hidden" id="travelToIdAdd">
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ประเภทการเบิก</label>
        </div>
        <div class="four wide field column">
          <select class="ui dropdown search selection" style="width: 100%;" id="pickedTypeAdd">
            <option value="">กรุณาเลือก</option>
            <option *ngFor="let data of pickedTypeList" value="{{data.lovId}}">{{data.typeDescription}}</option>
          </select>
        </div>
        <div class="two wide field">
          <label>ปีงบประมาณ</label>
        </div>
        <div class="four wide field column">
          <div class="ui calendar" id="modalDate1" style="width: 100%;">
            <div class="ui input left icon">
              <i class="calendar alter nate outline icon"></i>
              <input id="fiscalYearAdd" type="text" name="date-raw" autocomplete="off" [attr.readonly]="null"
                placeholder="ปปปป" [attr.required]="true">
            </div>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>วันที่เดินทางไป</label>
        </div>
        <div class="four wide field">
          <div class="ui calendar" id="modalDate2" style="width: 100%;">
            <div class="ui input left icon">
              <i class="calendar alter nate outline icon"></i>
              <input type="text" id="departureDateAdd" name="date-raw" autocomplete="off" [attr.readonly]="null"
                placeholder="วว/ดด/ปปปป" [attr.required]="true">
            </div>
          </div>
        </div>
        <div class="two wide field">
          <label>วันที่เดินทางกลับ</label>
        </div>
        <div class="four wide field">
          <div class="ui calendar" id="modalDate3" style="width: 100%;">
            <div class="ui input left icon">
              <i class="calendar alter nate outline icon"></i>
              <input type="text" id="returnDateAdd" name="date-raw" autocomplete="off" [attr.readonly]="null"
                placeholder="วว/ดด/ปปปป" [attr.required]="true">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="four wide field"></div>
        <div class="two wide field">
          <label>เดินทางไป</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>สำนักงานสรรพสามิตภาค</label>
        </div>
        <div class="four wide field">
          <select class="ui dropdown search selection" style="width: 100%;" id="travelTo1Add" (change)="travelTo2AddDropdown($event)">
            <option value="">กรุณาเลือก</option>
            <option *ngFor="let data of travelTo1AddList" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
          </select>
        </div>
        <div class="two wide field">
          <label>สำนักงานสรรพสามิตพื้นที่</label>
        </div>
        <div class="four wide field">
          <select class="ui dropdown search selection" style="width: 100%;" id="travelTo2Add" (change)="travelTo3AddDropdown($event)">
            <option value="">กรุณาเลือก</option>
            <option *ngFor="let data of travelTo2AddList" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
          </select>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>สำนักงานสรรพสามิตพื้นที่สาขา</label>
        </div>
        <div class="four wide field">
          <select class="ui dropdown search selection" style="width: 100%;" id="travelTo3Add" (change)="setTravelToAdd($event)">
            <option value="">กรุณาเลือก</option>
            <option *ngFor="let data of travelTo3AddList" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>


  <div class="actions">
    <div class="ui red deny button">ยกเลิก</div>
    <div class="ui green button" (click)="add()">ตกลง</div>
  </div>
</div>
<!--End add Head modal -->
