<br>

  <div class="ui form grid">
    <div class="two wide column"></div>
    <div class="fourteen wide column">



      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"> <i class="small circular inverted green check icon" style="font-size: 1em;"></i>
        </div>
        <div class="five wide field">
          <label class="text-left full-width">คำสั่งให้ตรวจค้น (ตส. ๐๑-๐๙)</label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>

      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"> <i class="small circular inverted orange edit alternate icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="five wide field">
          <label class="text-left full-width">หนังสือนำตัวออกตรวจการเสียภาษีสรรพสามิต (ตส. ๐๑-๐๗)</label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ" (click)="goTo('/tax-audit-new/ta03/01')"></app-button-custom>
        </div>
      </div>

      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"> <i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="five wide field">
          <label class="text-left full-width">สมุดสั่งการออกตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๐๘)</label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ" (click)="goTo('/tax-audit-new/ta03/01')"></app-button-custom>
        </div>
      </div>

      <br>
      <div class="inline fields">
        <div class="five wide field"></div>
        <div class="three wide field">
          <app-button-back  (click)="goTo('/tax-audit-new/ta02/02/01')"></app-button-back>
        </div>
      </div>
    </div>
  </div>
