<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">สร้างกระดาษทำการ</h2>
        <div class="ui segment">
            <div class="ui grid">
                <div class="sixteen wide column">

                    <div class="ui list">
                        <div class="item">
                            <i class="folder icon"></i>
                            <div class="content">
                                <div class="header">ประเภทกระดาษทำการตรวจสอบภาษี</div>
                                <div class="list">
                                    <div class="item">
                                        <i class="folder icon"></i>
                                        <div class="content">

                                            <div class="header">
                                                กระดาษทำการรับ-จ่ายวัตถุดิบ
                                                <!-- <a href="javascript:;" (click)="clickMenuMat()">กระดาษทำการรับ-จ่ายวัตถุดิบ</a> -->
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/ope04/1">
                                                                กระดาษทำการรับวัตถุดิบ </a>
                                                            <!-- <a href="javascript:;" (click)="clickMenuMat()">กระดาษทำการรับ-จ่ายวัตถุดิบ</a> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/ope04/2">
                                                                กระดาษทำการจ่ายวัตถุดิบ </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/ope04/3">
                                                                กระดาษทำการตรวจนับวัตถุดิบคงเหลือ </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list">
                                    <div class="item">
                                        <i class="folder icon"></i>
                                        <div class="content">
                                            <div class="header">
                                                <a href="javascript:;" routerLink="/ope04/4/1">กระดาษทำการหาความสัมพันธ์การเบิกใช้วัตถุดิบกับการรับสินค้าสำเร็จรูป</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list">
                                    <div class="item">
                                        <i class="folder icon"></i>
                                        <div class="content">

                                            <div class="header">
                                                กระดาษทำการรับ-จ่ายสินค้าสำเร็จรูป
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/ope04/4">
                                                                กระดาษทำการรับสินค้าสำเร็จรูป </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/ope04/5">
                                                                กระดาษทำการจ่ายสินค้าสำเร็จรูป </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list">
                                    <div class="item">
                                        <i class="folder icon"></i>
                                        <div class="content">
                                            <div class="header">
                                                กระดาษทำการตรวจสอบการลดหย่อนภาษี
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/ope04/6">
                                                                กระดาษทำการตรวจสอบรายการวัตถุดิบที่ขอลดหย่อนภาษีที่ยื่นต่อกรมสรรพสามิต
                                                                (ภส.05 - 02) </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a routerLink="/ope04/6-2" href="javascript:;">ผลการตรวจสอบรายการวัตถุดิบที่ขอลดหย่อนภาษีที่ยื่นต่อกรมสรรพสามิต
                                                                (ภส.05 - 02)</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list">
                                    <div class="item">
                                        <i class="folder icon"></i>
                                        <div class="content">
                                            <div class="header">
                                                <a href="javascript:;" routerLink="/ope04/8">กระดาษทำการตรวจสอบด้านราคา</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="nine wide column">

                    <table class="ui small celled table striped selectable" *ngIf="showSubMenuMat">
                        <thead>
                            <tr>
                                <th>ลำดับที่</th>
                                <th>กระดาษทำการจำหน่ายสินค้าสำเร็จรูป</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/ope04/1"> กระดาษทำการรับวัตถุดิบ </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/ope04/2"> กระดาษทำการจ่ายวัตถุดิบ </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/ope04/3"> กระดาษทำการตรวจนับวัตถุดิบคงเหลือ </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="ui small celled table striped selectable" *ngIf="showSubMenuIns">
                        <thead>
                            <tr>
                                <th>ลำดับที่</th>
                                <th>กระดาษทำการรับ-จ่ายสินค้าสำเร็จรูป</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/ope04/4"> กระดาษทำการรับสินค้าสำเร็จรูป </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/ope04/5"> กระดาษทำการจ่ายสินค้าสำเร็จรูป </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="ui small celled table striped selectable" *ngIf="showSubMenuTax">
                        <thead>
                            <tr>
                                <th>ลำดับที่</th>
                                <th>กระดาษทำการตรวจสอบการลดหย่อนภาษี</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/ope04/6">
                                        กระดาษทำการตรวจสอบรายการวัตถุดิบที่ขอลดหย่อนภาษีที่ยื่นต่อกรมสรรพสามิต (ภส.05 -
                                        02) </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a routerLink="/ope04/6-2" href="javascript:;">ผลการตรวจสอบรายการวัตถุดิบที่ขอลดหย่อนภาษีที่ยื่นต่อกรมสรรพสามิต
                                        (ภส.05 - 02)</a> </td>
                            </tr>
                            <!-- <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/ope04/7"> กระดาษทำการตรวจสอบราคาต่อหน่วยของสินค้าที่ขอลดหย่อนภาษี </a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>


            </div>

        </div>
    </div>
</div>>