<segment header="การวิเคราะห์ปริมาณสินค้าที่เสียภาษี" [loading]="false">
  <table  class="ui small celled table striped selectable nowrap" style="width:100%" id="dataTable">
    <thead >
      <tr>
        <th style="text-align: center !important">รายการ</th>
        <th style="text-align: center !important">ข้อมูลแบบภาษี ภส. 03-07</th>
        <th style="text-align: center !important">แบบงบเดือน ภส. 07-04</th>
        <th style="text-align: center !important">ผลต่าง</th>
      </tr>
    </thead>
   
  </table>
</segment>