<segment header="บันทึกผลการตรวจการเสียภาษีสรรพสามิต (ตส. ๐๑-๑๙)" [loading]="loading">
  <div headRight>
    {{formGroup3019.get('formTsNumber').value}}
  </div>

  <form form [formGroup]="formGroup3019">
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="bookNumber1" maxlength="20">
        <label style="margin-right: 1em;"> / </label>
        <input type="text" formControlName="bookNumber2" maxlength="20">
      </div>
      <div field [col]="1">
        <label class="full-width text-right">สำนัก :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="docText1" maxlength="100">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">วันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendar">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="docDate" placeholder="วว/ดด/ปปปป" id="calendarYear" name="calendar"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">เรื่อง :</label>
      </div>
      <div field [col]="6">
        <div>แจ้งผลการตรวจสอบภาษี</div>
      </div>
      <div field [col]="2">
        <label class="text-right full-width">เรียน :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="docDear" maxlength="100">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">โดยที่การตรวจ<br>สอบภาษีราย :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="companyName" maxlength="200">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">เลขทะเบียนสรรพสามิต :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="newRegId" maxlength="17">
      </div>
      <div field [col]="1">
        <app-button-custom [icon]="'search'" (click)="searchNewRegId()"></app-button-custom>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อโรงอุตสาหกรรม/<br>สถานบริการ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="factoryName" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ประเภทกิจการ :</label>
      </div>
      <div field [col]="6">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" value="1">
          <label>โรงอุตสาหกรรม</label>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" value="2">
          <label>สถานบริการ</label>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" value="3">
          <label>สถานประกอบการผู้นำเข้า</label>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
          <label class="full-width text-right">สถานที่ตั้งเลขที่ :</label>
      </div>
      <div field [col]="4">
          <input type="text" formControlName="facAddrNo" maxlength="" maxlength="35">
      </div>
      <div field [col]="1">
          <label class="full-width text-right">หมู่ที่ :</label>
      </div>
      <div field [col]="4">
          <input type="text" formControlName="facMooNo" maxlength="2">
      </div>
      <div field [col]="1">
          <label class="full-width text-right">ตรอก/ซอย :</label>
      </div>
      <div field [col]="4">
          <input type="text" formControlName="facSoiName" maxlength="50">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">ถนน :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facThnName" maxlength="50">
      </div>
      <div field [col]="1">
        <label class="full-width text-right">ตำบล/<br>แขวง :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facTambolSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facTambolName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facTambolName" maxlength="100"> -->
      </div>
      <div field [col]="1">
        <label class="full-width text-right">อำเภอ/เขต :</label>
      </div>
      <div field [col]="4">
          <div class="ui search full-width facAmphurSearch">
              <div class="ui icon input">
                  <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facAmphurName"
                      maxlength="100">
              </div>
              <div class="results"></div>
          </div>
          <!-- <input type="text" formControlName="facAmphurName" maxlength="100"> -->
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="full-width text-right">จังหวัด :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facProvinceSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facProvinceName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facProvinceName" maxlength="100"> -->
      </div>
      <div field [col]="1">
        <label class="full-width text-right">รหัสไปรษณีย์ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facZipCode" maxlength="5">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ตาม :</label>
      </div>
      <div field [col]="4">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="followTypeFlag1" value="1">
          <label>หนังสือเรียก</label>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="ui radio checkbox">
          <input type="radio" formControlName="followTypeFlag1" value="2">
          <label>หนังสือเชิญ </label>
        </div>
      </div>
      <div field [col]="1">
        <label class="text-right full-width">ที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="refBookNumber">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">ลงวันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendar1">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" placeholder="วว/ดด/ปปปป" id="calendarYear" formControlName="refBookDate"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">สำนัก :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="officeName1" maxlength="100">
      </div>
      <div field [col]="3">
        <label class="text-right full-width">ขอแจ้งยุติการตรวจสอบภาษีตาม :</label>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="followTypeFlag2" value="1">
          <label>หนังสือเรียก</label>
        </div>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="followTypeFlag2" value="2">
          <label>หนังสือเชิญ</label>
        </div>
      </div>
      <div field [col]="2">
        <label class="text-left full-width">ฉบับดังกล่าว</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อผู้ขอออกตรวจ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signOfficerFullName" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">หน่วยงาน :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officeName2" maxlength="100">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signOfficerPosition" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">โทร :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officePhone" maxlength="20">
      </div>
    </div>
    <br>
    <br>
    <app-button-footer-report (save)="save($event)" (clear)="clear($event)" (export)="export($event)">
    </app-button-footer-report>
  </form>
</segment>