<br>

  <div class="ui form grid">
    <div class="two wide column"></div>
    <div class="fourteen wide column">

      <div class="inline fields">
        <div class="three wide field"></div>
        <div class="one wide field">
        </div>
        <div class="three wide field">
          <label class="text-left full-width">พบประเด็นความผิด</label>
        </div>
        <div class="three wide field">
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="docType" (change)="hedenActiontotal(1)" value="1">
                <label>พบ
                </label>
              </div>
            </div>&nbsp;&nbsp;
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="docType"  (change)="hedenActiontotal(2)" value="2">
                <label>ไม่พบ
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="ui form grid" *ngIf="actiontotal[1]">
    <div class="two wide column"></div>
    <div class="fourteen wide column">

      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field">
        </div>
        <div class="six wide field">
          <label class="text-left full-width">ผู้ประกอบการมีข้อโต้แย้งหรือไม่</label>
        </div>
        <div class="six wide field">
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="actionD" (change)="hedenActiontotal(3)" value="3">
                <label>ข้อโต้แย้งรับฟังได้</label>
              </div>
            </div>&nbsp;&nbsp;
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="actionD" (change)="hedenActiontotal(4)" value="3">
                <label>ข้อโต้แย้ง เหตุผลฟังไม่ขึ้น</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="ui form grid" *ngIf="actiontotal[0]">
    <div class="two wide column"></div>
    <div class="fourteen wide column">
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"> <i class="small circular inverted orange edit alternate icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">สรุปผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๔)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ" (click)="goTo('/tax-audit-new/ta03/01')"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">รายงานการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๔/๑)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ" (click)="goTo('/tax-audit-new/ta03/01')"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">หนังสือแจ้งผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๙)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ" (click)="goTo('/tax-audit-new/ta03/01')"></app-button-custom>
        </div>
      </div>
      <br>

    </div>
  </div>


  <div class="ui form grid" *ngIf="actiontotal[2]">
    <div class="two wide column"></div>
    <div class="fourteen wide column">
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">สรุปผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๔)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">รายงานการตรวจสอบภาษีสรรพสามิต และใบต่อ (ตส. ๐๑-๑๔/๑)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">รายละเอียดแสดงผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๔/๒)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field">
        </div>
        <div class="six wide field">
          <label class="text-left full-width">แจ้งผู้ประกอบการมารับทราบผล</label>
        </div>
        <div class="five wide field">
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="actionB" (change)="hedenActiontotal(5)" value="5">
                <label>มารับทราบ</label>
              </div>
            </div>&nbsp;&nbsp;
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="actionB" (change)="hedenActiontotal(6)" value="6">
                <label>ไม่มารับทราบ</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

    </div>
  </div>
  <br>

  <div class="ui form grid" *ngIf="actiontotal[3]">
    <div class="two wide column"></div>
    <div class="fourteen wide column">
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">คำให้การ (ตส. ๐๑-๑๐, ตส. ๐๑-๑๐/๑)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">บันทึกข้อตกลงยินยอมการชำระภาษีสรรพสามิต (ตส. ๐๑-๑๕)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">รายงานการพิจารณา ของดหรือลดเบี้ยปรับเงินเพิ่ม (ตส.๐๑-๑๖)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">หนังสือแจ้งผลการตรวจสอบภาษี ณ สถานประกอบการ (ตส. ๐๑-๑๘)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">หนังสือแจ้งผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๙)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <br>

    </div>
  </div>

  <div class="ui form grid" *ngIf="actiontotal[4]">
    <div class="two wide column"></div>
    <div class="fourteen wide column">
 
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">หนังสือแจ้งการรับทราบผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๗/๑)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">หนังสือแจ้งผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๙)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>


    </div>
  </div>