<segment header="การวิเคราะห์ราคาขายปลีกแนะนำตามแบบแจ้งฯ" [loading]="false">
  <table id="dataTable" class="ui small celled table striped selectable  nowrap" style="width:100%">
    <thead>
      <tr>
        <th style="text-align: center !important">รายการ</th>
        <th style="text-align: center !important">แบบชำระภาษี ภส. 03-07</th>
        <th style="text-align: center !important">แบบแจ้งฯ ภส. 02-01</th>
        <th style="text-align: center !important">ผลต่าง</th>
      </tr>
    </thead>

  </table>
</segment>