<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<br>
<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui attached segment">
      <table class="ui small collapsing celled table aligned hover striped selectable" id="dataTable" style="width: 100%;">
        <thead>
          <tr style="text-align: center">
            <th>ที่</th>
            <th>แบบรายการ</th>
            <th>ปีงบประมาณ</th>
            <th>จัดการ</th>
          </tr>

        </thead>
        <tbody>


        </tbody>
      </table>
      <br>
      <div class="ui centered row grid">
        <div class="sixteen aligned center ">
          <button class="ui mini primary button">
            <i class="save icon"></i>
            บันทึก
          </button>
          <button class="ui mini red button">
            <i class="trash alternate icon"></i>
            ลบ
          </button>
        </div>
      </div>
      <br>

    </div>
  </div>
</div>
