<with-breadcrumb [breadcrumb]="breadcrumb">
  <!-- tab -->
  <segment header="การตรวจปฏิบัติการตัวแทนหรือผู้ใช้สารละลายประเภทไฮโดรคาร์บอนที่ได้รับสิทธิอัตราศูนย์"
    [loading]="false">
    <div class="ui form">
      <div inline>
        <div field [col]="3"></div>
        <div field [col]="6">
          <span>ชื่อผู้ประกอบอุตสาหกรรม: {{ data && (data.companyName | isEmpty) }}</span>
        </div>
      </div>
      <div inline>
        <div field [col]="3"></div>
        <div field [col]="4">
          <span>ทะเบียนสรรพสามิตเลขที่: {{ data && (data.identifyNo | isEmpty) }}</span>
        </div>
      </div>
      <div inline>
        <div field [col]="3"></div>
        <div field [col]="8"><span>ที่อยู่: {{ data && (data.address | isEmpty) }}</span>
        </div>
      </div>
      <div class="ui divider"></div>
    </div>
    <div form>
      <div inline>

        <button class="ui large button btn-custom" [ngClass]="{'primary': urlActivate('/ope01/01/06/10')}"
          (click)="routeTo('/ope01/01/06/10', buttons.oaCuslicenseId, 'oaCuslicenseId')">
          รายละเอียด
        </button>

        <button class="ui large button btn-custom" [ngClass]="{'primary': urlActivate('/ope01/01/06/02')}"
          (click)="routeTo('/ope01/01/06/02', buttons.oaHydrocarbDtlId, 'oaHydrocarbDtlId')">
          ข้อมูลภาพรวม
        </button>

        <button *ngIf="identifyTypeOld" class="ui large button btn-custom"
          [ngClass]="{'primary': urlActivate('/ope01/01/06/04')}"
          (click)="routeTo('/ope01/01/06/04', buttons.oaHydrocarbDtlId, 'oaHydrocarbDtlId')">
          การเปรียบเทียบ
        </button>

        <button *ngIf="identifyTypeOld" class="ui large button btn-custom"
          [ngClass]="{'primary': urlActivate('/ope01/01/06/06')}"
          (click)="routeTo('/ope01/01/06/06', buttons.oaHydrocarbDtlId, 'oaHydrocarbDtlId')">
          งบเดือน
        </button>

        <button *ngIf="licenseTypeAgentAndIdentifyTypeOld" class="ui large button btn-custom"
          [ngClass]="{'primary': urlActivate('/ope01/01/06/07')}"
          (click)="routeTo('/ope01/01/06/07', buttons.oaHydrocarbDtlId, 'oaHydrocarbDtlId')">
          สุ่มตรวจ (ตัวแทน)
        </button>

        <button *ngIf="licenseTypeUser" class="ui large button btn-custom"
          [ngClass]="{'primary': urlActivate('/ope01/01/06/08')}"
          (click)="routeTo('/ope01/01/06/08', buttons.oaHydrocarbDtlId, 'oaHydrocarbDtlId')">
          กรรมวิธีในการผลิต
        </button>

        <button *ngIf="licenseTypeUserAndIdentifyTypeOld" class="ui large button btn-custom"
          [ngClass]="{'primary': urlActivate('/ope01/01/06/09')}"
          (click)="routeTo('/ope01/01/06/09', buttons.oaHydrocarbDtlId, 'oaHydrocarbDtlId')">
          สุ่มตรวจ (ผู้ใช้)
        </button>

        <button class="ui large button btn-custom" [ngClass]="{'primary': urlActivate('/ope01/01/06/11')}"
          (click)="routeTo('/ope01/01/06/11', buttons.oaHydrocarbDtlId, 'oaHydrocarbDtlId')">สรุปผลการออกตรวจ</button>

      </div>
    </div>
  </segment>
  <!-- contents -->
  <router-outlet></router-outlet>
</with-breadcrumb>