<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">วิเคราะห์ข้อมูลเบื้องต้น</h2>
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>วิเคราะห์ข้อมูลเบื้องต้น</span>
    </div>

    <div class="ui attached segment  {{loading ? 'loading' : ''}} ">
      <form [formGroup]="formControl" (submit)="goToAnalysisResult($event)">
        <div class="ui form">
          <div class="inline fields">
            <div class="one wide field"></div>
            <div class="three wide field required"><label class="text-right full-width">เลขทะเบียนสรรพสามิต</label></div>
            <div class="three wide field " [ngClass]="{ 'error': submitted && f.exciseId.invalid }">
              <select class="ui dropdown search selection  full-width" formControlName="exciseId" name="exciseId" id="exciseId"
                (change)="changeExciseId($event)" required>
                <option value="">กรุณาเลือก</option>
                <option *ngFor="let item of exciseIdList" value="{{item.label}}">{{item.label}}</option>
              </select>
            </div>
            <div class="three wide field"><label class="text-right full-width">เลขประจำตัวผู้เสียภาษีอากร</label></div>
            <div class="three wide field">
              <input type="text" formControlName="userNumber" name="userNumber" id="userNumber" class="custom-readonly" disabled>
            </div>
          </div>

          <div class="inline fields">
            <div class="one wide field"></div>
            <div class="three wide field required"><label class="text-right full-width">รอบระยะเวลาการตรวจสอบ</label></div>
            <div class="three wide field ui calendar" required id="dateF" [ngClass]="{ 'error': submitted && f.dateFrom.invalid }">
              <div class="ui input left icon">
                <i class="calendar alter nate outline icon"></i>
                <input type="calendar" readonly="" id="dateFrom" name="dateFrom" [attr.required]="true" autocomplete="off"
                  placeholder="ดด/ปปปป" formControlName="dateFrom">
              </div>
            </div>
            <div class="three wide field required"><label class="text-right full-width">ถึง</label></div>
            <div class="three wide field ui calendar required" id="dateT" [ngClass]="{ 'error': submitted && f.dateTo.invalid }">
              <div class="ui input left icon">
                <i class="calendar alter nate outline icon"></i>
                <input type="calendar" readonly="" id="dateTo" name="dateTo" [attr.required]="true" autocomplete="off"
                  placeholder="ดด/ปปปป" formControlName="dateTo">
              </div>
            </div>
          </div>

          <div class="inline fields">
            <div class="two wide field"></div>
            <div class="two wide field "><label class="text-right full-width">ประเภท</label></div>
            <div class="three wide field required">
              <input type="text" disabled class="custom-readonly" formControlName="type" name="type" id="type">
            </div>
          </div>
          <div class="inline fields">
            <div class="two wide field"></div>
            <div class="two wide field"><label class="text-right full-width">พิกัด</label></div>
            <div class="three wide field required">
              <input type="text" disabled class="custom-readonly" formControlName="coordinates" name="coordinates" id="coordinates">
            </div>
          </div>

          <div class="inline fields" *ngIf="showSelectCoordinate">
            <div class="eight wide field required">
              <label class="custom-label-w-25">พิกัด</label>
              <select id="selectCoordinate" class="ui dropdown ai">
                <option *ngFor="let item of coordinateList; index as i;" value="{{item.value}}">{{item.value}}</option>
              </select>
            </div>
          </div>
          <br><br>
          <div class="fields">
            <div class="sixteen wide field">
              <div class="ui grid">
                <div class="center aligned row">
                  <div class="column">
                    <button class="ui mini primary button" type="submit"><i class="table icon"></i>
                      วิเคราะห์ข้อมูลเบื้องต้น</button>
                    <div class="ui mini button" (click)="clear()">
                      <i class="refresh icon"></i> ล้างข้อมูล
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
