<div class="ui grid" style="margin: 2%">
    <div class="ui column segment">
        <h5 class="ui right aligned header">
            แบบ ปย.2
        </h5>
        <h5 class="ui center aligned header">
            ชื่อส่วนงานย่อย สำนักงานสรรพสามิตพื้นที่เชียงราย สาขาเมืองเชียงราย
        </h5>
        <h5 class="ui center aligned header">
            รายงานการประเมินผลและการปรับปรุงการควบคุมภายใน
        </h5>
        <h5 class="ui center aligned header">
            สำหรับปีสิ้นสุดวันที่ 30 เดือน กันยายน พ.ศ. 2561
        </h5>
        <div class="ui center aligned scrolled">
            <table id="datatable" class="ui celled table striped selectable">
                <thead>
                    <tr>
                        <th style="width: 20%">
                            กระบวนการปฏิบัติงาน/โครงการ/กิจกรรม/ด้านของงานที่ประเมิน และวัตถุประสงค์ของการควบคุม
                            <br>
                            <br>(1)
                        </th>
                        <th style="width: 20%">การควบคุมที่มีอยู่
                            <br>
                            <br>(2)</th>
                        <th style="width: 18%">ประเมินการควบคุม
                            <br>
                            <br>(3)</th>
                        <th style="width: 9%">ความเสี่ยงที่ยังมีอยู่
                            <br>
                            <br>(4)</th>
                        <th style="width: 9%">การปรับปรุง/ การควบคุม
                            <br>
                            <br>(5)</th>
                        <th style="width: 9%">กำหนดเสร็จ/ผู้รับผิดชอบ
                            <br>
                            <br>(6)</th>
                        <th style="width: 9%">หมายเหตุ
                            <br>
                            <br>(7)</th>
                        <th style="width: 8%">ผลการตรวจ
                            <br>(กลุ่มตรวจสอบภายใน)</th>
                        <th>หมายเหตุ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="head main" colspan="9">1. งานด้านการเงิน</td>
                    </tr>
                    <tr>
                        <td class="head sub" colspan="9">1.1 การเก็บรักษาเงิน</td>
                    </tr>
                    <tr>
                        <td>
                            <p class="obj">วัตถุประสงค์</p>เพื่อให้การเก็บรักษาเงินถูกต้องตามระเบียบการเก็บรักษาเงินฯและเงินไม่สูญหาย
                        </td>
                        <td>
                            <p>1. แต่งตั้งคณะกรรมการนับเงินคงเหลือประจำวัน</p>
                            <p>2. จัดเก็บเงินไว้ในตู้นิรภัย</p>
                            <p>3. แบ่งแยกการถือกุญแจตู้นิรภัยแต่ละดอกอย่างชัดเจน</p>
                            <p>4. มีการจัดทำรายงานเงินคงเหลือประจำวัน</p>
                        </td>
                        <td>การควบคุมที่มีอยู่เพียงพอและมีการกำหนดเป็นแนวทางให้ปฏิบัติตามเพื่อนำไปปฏิบัติงานจริงช่วยให้การดำเนินงานสำเร็จตามวัตถุประสงค์ที่กำหนดและคุ้มค่า</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="example2">
                                            <label>ผ่าน</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="example2">
                                            <label>ไม่ผ่าน</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="head sub" colspan="9">1.2 เงินฝากธนาคาร</td>
                    </tr>
                    <tr>
                        <td>
                            <p class="obj">วัตถุประสงค์</p>
                            เพื่อให้การนำเงินฝากธนาคารมีเจ้าหน้าที่รับผิดชอบในการนำฝากแต่ละครั้ง
                            และจะต้องเก็บหลักฐานไว้ตรวจสอบให้เป็นไปตามระเบียบและตรวจสอบกับบัญชีเงินฝากในแต่ละเดือน
                        </td>
                        <td>
                            <p>1. ธนาคารที่ฝากเงินไว้นั้นเป็นธนาคารที่ได้รับอนุมัติให้ฝากเงินได้ตามระเบียบพ.ศ. 2551
                                หรือกฎหมายที่กำหนดไว้</p>
                            <p>2. การเปิดบัญชีธนาคารและการกำหนดผู้มีอำนาจในการลงนามสั่งจ่ายได้รับมอบอำนาจโดยถูกต้อง</p>
                            <p>3. มีการแจ้งให้ธนาคารทราบเมื่อมีการเปลี่ยนผู้มีอำนาจในการลงนามจ่ายเช็ค</p>
                            <p>4. มีการเก็บรักษาใบนำฝากธนาคาร และต้นขั้วเช็คไว้เรียบร้อย</p>
                        </td>
                        <td>การควบคุมที่มีอยู่เพียงพอและมีการกำหนดเป็นแนวทางให้ปฏิบัติตามเพื่อนำไปปฏิบัติงานจริงช่วยให้การดำเนินงานสำเร็จตามวัตถุประสงค์ที่กำหนดและคุ้มค่า
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="example2">
                                            <label>ผ่าน</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="example2">
                                            <label>ไม่ผ่าน</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="head sub" colspan="9">1.3 เงินฝากคลัง</td>
                    </tr>
                    <tr>
                        <td>
                            <p class="obj">วัตถุประสงค์</p>เพื่อให้มีการตรวจสอบเงินฝากคลังว่ามีการปฏิบัติตาม ระเบียบ
                            และจำนวนเงินถูกต้อง
                        </td>
                        <td>
                            <p>1. มีการพิสูจน์ยอดเงินฝากธนาคารอย่างน้อยเดือนละครั้งและมีการควบคุมเช็คในการสั่งจ่าย</p>
                            <p>2. ประเภทเงินที่ฝากและถอนเป็นไปตามระเบียบ พ.ศ. 2551</p>
                            <p>3. มีการตรวจสอบยอดเงินฝากคลังอย่างน้อยเดือนละครั้ง</p>
                        </td>
                        <td>การควบคุมที่มีอยู่เพียงพอและมีการกำหนดเป็นแนวทางให้ปฏิบัติตามเพื่อนำไปปฏิบัติงานจริงช่วยให้การดำเนินงานสำเร็จตามวัตถุประสงค์ที่กำหนดและคุ้มค่า</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="example2">
                                            <label>ผ่าน</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="example2">
                                            <label>ไม่ผ่าน</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ui center aligned last-button">
            <button class="ui icon orange mini button" (click)="export()">ส่งออก</button>
            <button class="ui icon grey mini button" (click)="back()">กลับ</button>
        </div>
    </div>
</div>