<with-breadcrumb [breadcrumb]="breadcrumb">
  <segment header="รายการคุมทะเบียนตาม พ.ร.บ. 2560" [loading]="loading">
    <div class="ui form">
      <form [formGroup]="formGroup">
        <ng-container *ngIf="!formGroup.get('auditTxinsurNo').value">
          <div inline>
            <div field [col]="2" class="required">
              <label class="text-right full-width">สำนักงานสรรพสามิตภาค</label>
            </div>
            <div field [col]="4" [ngClass]="{'error': validateField('sector')}">
              <select class="ui dropdown full-width" id="sector" (change)="dropdownChange($event, 'SECTOR')"
                formControlName="sector">
                <option value="">เลือกสำนักงานสรรพสามิตภาค</option>
                <option *ngFor="let item of sectors" value="{{item.officeCode}}">{{item.deptName}}</option>
              </select>
            </div>
            <div field [col]="2" class="required">
              <label class="text-right full-width">สำนักงานสรรพสามิตพื้นที่</label>
            </div>
            <div field [col]="3" [ngClass]="{'error': validateField('area')}">
              <select class="ui dropdown full-width" id="area" (change)="dropdownChange($event, 'AREA')"
                formControlName="area">
                <option value="">เลือกสำนักงานสรรพสามิตพื้นที่</option>
                <option value="0">ทั้งหมด</option>
                <option *ngFor="let item of areas" value="{{item.officeCode}}">{{item.deptName}}</option>
              </select>
            </div>
            <div field [col]="2">
              <label class="text-right full-width">สำนักงานสรรพสามิตสาขา</label>
            </div>
            <div field [col]="3">
              <select class="ui dropdown full-width" id="branch" formControlName="branch"
                (change)="dropdownChange($event, 'BRANCH')">
                <option value="">เลือกสำนักงานสรรพสามิตสาขา</option>
                <option value="0">ทั้งหมด</option>
                <option *ngFor="let item of branch" value="{{item.officeCode}}">{{item.deptName}}</option>
              </select>
            </div>
          </div>

          <div inline>
            <div field [col]="2">
              <label class="text-right full-width">ช่วงวันที่จดทะเบียน</label>
            </div>
            <div field [col]="4">
              <div class="ui calendar" id="regDateStartCld">
                <div class="ui input left icon">
                  <i class="calendar alter nate outline icon"></i>
                  <input type="text" formControlName="regDateStart" autocomplete="off" placeholder="วว/ดด/ปปปป"
                    readonly>
                </div>
              </div>
              ถึง&nbsp;&nbsp;&nbsp;
              <div class="ui calendar" id="regDateEndCld">
                <div class="ui input left icon">
                  <i class="calendar alter nate outline icon"></i>
                  <input type="text" formControlName="regDateEnd" autocomplete="off" placeholder="วว/ดด/ปปปป" readonly>
                </div>
              </div>
            </div>
            <div field [col]="2">
              <label class="text-right full-width">เลขที่กระดาษทำการ</label>
            </div>
            <div field [col]="3">
              <input class="custom-readonly" type="text" formControlName="auditTxinsurNo" readonly>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="formGroup.get('auditTxinsurNo').value">
          <div inline>
            <div field [col]="2">
              <label class="text-right full-width">สำนักงานสรรพสามิตภาค</label>
            </div>
            <div field [col]="4">
              <input type="text" class="custom-readonly" id="sector" formControlName="sector" readonly>
            </div>
            <div field [col]="2">
              <label class="text-right full-width">สำนักงานสรรพสามิตพื้นที่</label>
            </div>
            <div field [col]="3">
              <input type="text" class="custom-readonly" id="area" formControlName="area" readonly>
            </div>
            <div field [col]="2">
              <label class="text-right full-width">สำนักงานสรรพสามิตสาขา</label>
            </div>
            <div field [col]="3">
              <input type="text" class="custom-readonly" id="branch" formControlName="branch" readonly>
            </div>
          </div>

          <div inline>
            <div field [col]="2">
              <label class="text-right full-width">ช่วงวันที่จดทะเบียน</label>
            </div>
            <div field [col]="4">
              <input type="text" class="custom-readonly" id="regDateStart" formControlName="regDateStart" readonly>
              ถึง&nbsp;&nbsp;
              <input type="text" class="custom-readonly" id="regDateEnd" formControlName="regDateEnd" readonly>
            </div>
            <div field [col]="2">
              <label class="text-right full-width">เลขที่กระดาษทำการ</label>
            </div>
            <div field [col]="3">
              <input class="custom-readonly" type="text" formControlName="auditTxinsurNo" readonly>
            </div>
          </div>
        </ng-container>


        <br>
        <div class="ui center aligned grid">
          <div class="eight wide column">
            <app-button-search (click)="search()"></app-button-search>
            <app-button-save *ngIf="listCheckbox.length == 0" disabled="true"></app-button-save>
            <app-button-save *ngIf="listCheckbox.length > 0" (click)="save($event)"></app-button-save>
            <app-button-clear *ngIf="!formGroup.get('auditTxinsurNo').value" btnType="reset"
              (click)="clearFormSearch()">
            </app-button-clear>
            <app-button-back (click)="routeTo('/int06/14/01')"></app-button-back>
          </div>
        </div>

      </form>
    </div>
    <!-- table -->
    <table id="dataTable" class="ui small celled nowrap table striped selectable" style="width: 100%;">
      <thead>
        <tr class="text-center">
          <th>เลือก</th>
          <th>ลำดับ</th>
          <th>ทะเบียนสรรพสามิต</th>
          <th>ทะเบียนสรรพสามิต (เก่า)</th>
          <th>ชื่อผู้ประกอบการ</th>
          <th>ชื่อโรงงานอุตสาหกรรม/สถานบริการ</th>
          <th>ประเภทสินค้า</th>
          <th>วันที่จดทะเบียน</th>
          <th>ที่อยู่ผู้ประกอบการ</th>
          <th>ที่อยู่สถานประกอบการ</th>
        </tr>
      </thead>
    </table>

  </segment>
</with-breadcrumb>