<with-breadcrumb [breadcrumb]="breadcrumb">
  <segment header="สร้างแผนงานการออกตรวจ" [loading]="false">
    <form>
      <div class="ui form ">
        <!-- row 1 -->
        <div class="inline fields">
          <div class="three wide field "></div>
          <div class="three wide field ">
            <label class="text-right full-width">ชื่อแผน</label>
          </div>
          <div class="four wide field ">
            <input type="text">
          </div>
        </div>
        <!-- row 2 -->
        <div class="inline fields">
          <div class="three wide field "></div>
          <div class="three wide field ">
            <label class="text-right full-width">หน่วยงาน</label>
          </div>
          <div class="four wide field ">
            <select class="ui search dropdown ai search full-width">
              <option value="สรรพสามิตภาค 1">สรรพสามิตภาค 1</option>
            </select>
          </div>
        </div>
        <!-- row 3 -->
        <div class="inline fields">
          <div class="three wide field "></div>
          <div class="three wide field ">
            <label class="text-right full-width">ประจำเดือน</label>
          </div>
          <div class="four wide field ">
            <select class="ui search dropdown ai search full-width">
              <option value="ต.ค. 2561">ต.ค. 2561</option>
            </select>
          </div>
        </div>
        <!-- row 4 -->
        <div class="inline fields">
          <div class="three wide field "></div>
          <div class="three wide field ">
            <label class="text-right full-width">วันที่ออกตรวจ</label>
          </div>
          <div class="four wide field ">
            <select class="ui search dropdown ai search full-width">
              <option value="15 ต.ค. 2561">15 ต.ค. 2561</option>
            </select>
          </div>
        </div>

      </div>
    </form>

    <br>

    <table class="ui small celled table striped selectable" id="dataTable" style="width: 100%;">
      <thead>
        <tr style="text-align: center">
          <th><input class="ui checkbox" type="checkbox" (change)="clickCheckAll($event)"></th>
          <th>ชื่อผู้ประกอบการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><input class="ui checkbox" type="checkbox"></td>
          <td>บริษัท พรีไซซ อีเลคตริค แมนูแฟคเจอริ่ง จำกัด</td>
        </tr>
        <tr>
          <td class="text-center"><input class="ui checkbox" type="checkbox"></td>
          <td>บริษัท เฮดดิ้ง เทรดดิ้ง ไทย จำกัด</td>
        </tr>
        <tr>
          <td class="text-center"><input class="ui checkbox" type="checkbox"></td>
          <td>บริษัท ไคเนเทค เรซซิ่ง จำกัด</td>
        </tr>
      </tbody>
    </table>

    <div class="inline fields">
      <div class="three wide field ">
        <h3>รายชื่อผู้ออกตรวจ</h3>
      </div>
    </div>

    <table class="ui small celled table striped selectable" id="dataTable" style="width: 30%;">
      <thead>
        <tr style="text-align: center">
          <th>ชื่อ-สกุล</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>นายปวิช ตะนะทิพย์</td>
        </tr>
        <tr>
          <td>นายเอกลักษณ์ อำพุธ</td>
        </tr>
        <tr>
          <td>นายธนกิตน์ พานิชเจริญ</td>
        </tr>
      </tbody>
    </table>

    <div class="ui centered grid">
      <div class="ui form fourteen wide column">
        <div class="fields">
          <div class="one wide field"></div>
          <div class="fourteen wide field">
            <label>ความคิดเห็น</label>
            <textarea rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <app-button-custom text="อนุมัติ" color="green" [routerLink]="['/ope06/11']"></app-button-custom>
        <app-button-custom text="ไม่อนุมัติ" color="red" [routerLink]="['/ope06/11']"></app-button-custom>
      </div>
    </div>
  </segment>
</with-breadcrumb>