<app-form-search header="ตรวจสอบด้านราคา" [formSearch]="formGroup" (uploadTemplate)="uploadTemplate($event)" (search)="search($event)"
  (clear)="clear($event)"></app-form-search>
<segment header="เลือกไฟล์ Template ตรวจสอบด้านราคา" *ngIf="hideUpload">
  <form class="ui form ng-untouched ng-pristine ng-valid" id="upload-form" ngnativevalidate="">

    <div class="inline fields  ui grid">
      <div class="three wide field">
        <label class="text-right full-width">เลือกไฟล์ Template</label>
      </div>
      <div class="four wide field">
        <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="inputfile" id="fileExel"
          name="fileExel" required="" type="file">
      </div>
      <div class="four wide field">
        <app-button-upload ></app-button-upload>
      </div>
    </div>
  </form>
</segment>
<segment header="" [loading]="false" *ngIf="hideResult">
  <div class="inline field btn text-right">
    <app-button-export  (click)="exportFile()"></app-button-export>
  </div>
  <table id="dataTable" class="ui small celled nowrap table striped selectable" style="width:100%">
    <thead class="text-center">
      <tr>
        <th>ลำดับ</th>
        <th class="text-center">รายการ</th>
        <th>ราคาตามแบบแจ้ง ภส. ๐๒-๐๑</th>
        <th class="text-center bg-blue">ราคาจากข้อมูลภายนอก</th>
        <th class="text-center bg-blue">ราคาต่อหน่วยตามประกาศกรม</th>
        <th class="text-center bg-blue">ราคาขายปลีกแนะนำจาก ภส. ๐๓-๐๗</th>
        <th>แบบรายการภาษี ภส. ๐๓-๐๗</th>
        <th>ผลต่างราคา</th>
      </tr>
    </thead>
  </table>
</segment>