<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<segment header="ตรวจสอบสถิติการต่ออายุใบอนุญาต" [loading]="false">
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui attached">
        <div class="ui form">
          <input type="hidden" id="searchFlag">
          <div class="inline fields">
            <div class="three wide field">
              <label class="text-right full-width">สำนักงานสรรพสามิตภาค</label>
            </div>
            <div class="five wide field">
              <select class="ui dropdown ai search selection" style="width: 100%;" id="travelTo1" (change)="travelTo2Dropdown($event)">
                <option value="">กรุณาเลือก</option>
                <option *ngFor="let data of travelTo1List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
              </select>
            </div>
            <div class="two wide field">
              <label class="text-right full-width">สำนักงานสรรพสามิตพื้นที่</label>
            </div>
            <div class="five wide field">
              <select class="ui dropdown ai search selection" style="width: 100%;" id="travelTo2" (change)="travelTo3Dropdown($event)">
                <option value="">กรุณาเลือก</option>
                <option *ngFor="let data of travelTo2List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
              </select>
            </div>
          </div>
          <div class="inline fields">
            <div class="three wide field">
              <label class="text-right full-width">สำนักงานสรรพสามิตพื้นที่สาขา</label>
            </div>
            <div class="five wide field">
              <select class="ui dropdown ai search selection" style="width: 100%;" id="travelTo3" (change)="setTravelTo($event)">
                <option value="">กรุณาเลือก</option>
                <option *ngFor="let data of travelTo3List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
              </select>
            </div>
            <div class="two wide field ">
              <label class="text-right full-width">วันที่
              </label>
            </div>
            <div class="two wide field">
              <div class="ui calendar" id="date1" style="width:100%">
                <div class="ui input left icon">
                  <i class="calendar alter nate outline icon"></i>
                  <input type="calendar" readonly="" id="dateIn1" [attr.required]="true" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="one wide field">
              <label class="text-center full-width">ถึง</label>
            </div>
            <div class="two wide field">
              <div class=" ui calendar" id="date2" style="width:100%">
                <div class="ui input left icon">
                  <i class="calendar alter nate outline icon"></i>
                  <input type="calendar" readonly="" id="dateIn2" [attr.required]="true" autocomplete="off">
                </div>
              </div>
            </div>
          </div>

        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="eight wide column">
              <app-button-search (click)="createTrAndDataTable()"></app-button-search>
              <app-button-clear (click)="clickClear()"></app-button-clear>
          </div>
        </div>
        <br>
        <div class="ui attached {{ loading? 'loading' : '' }} ">

          <div style="overflow-x: auto;white-space: nowrap;">
            <table id="table" class="ui small celled table nowrap striped selectable " style="width: 100%">
              <thead>
                <tr>
                  <th rowspan="2" style="text-align: center !important;">ลำดับที่</th>
                  <th rowspan="2" style="text-align: center !important;">ผู้ขออนุญาต</th>
                  <th rowspan="2" style="text-align: center !important;">ประเภทใบอนุญาต</th>
                  <th rowspan="1" colspan="2" style="text-align: center !important;" *ngFor="let data of trHtml1">{{data}}</th>
                </tr>
                <tr>
                  <th style="text-align: center !important;" *ngFor="let data of trHtml2">{{data}}</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let data of dataT; let i=index">
                  <td style="text-align: center !important;">{{i+1}}</td>
                  <td style="text-align: center !important;">{{data.CusFullName}}</td>
                  <td style="text-align: center !important;">{{data.LicName}}</td>
                  <td style="text-align: center !important;" *ngFor="let data2 of trHtml2; let i=index" class="{{data.year[i]==''?'bg-row-highlight':''}}">{{data.year[i]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div class="sixteen wide column">
            <div class="ui centered grid">
              <div class="ui form fourteen wide column">
                <div class="inline fields">
                  <div class="four wide field">
                    <label class="text-right full-width">ข้อตรวจพบ/ข้อสังเกต <br> (ข้อเท็จจริง/Condition) :</label>
                  </div>
                  <div class="ten  wide field">
                    <textarea rows="3" style="width: 100%;"></textarea>
                  </div>
                </div>
                <div class="inline fields">
                  <div class="four wide field">
                    <label class="text-right full-width">สิ่งที่ควรจะเป็น <br> (หลักเกณฑ์/Criteria)
                      :</label>
                  </div>
                  <div class="ten  wide field">
                    <textarea rows="3" style="width: 100%;"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui center aligned grid">
            <div class="eight wide center aligned column">
              <app-button-save></app-button-save>
              <app-button-export (click)="exportFile()"></app-button-export>
              <app-button-cancel routerLink="/int10/01"></app-button-cancel>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</segment>