<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<h2 class="ui header">แผนประจำปี</h2>
<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui small celled nowrap table striped selectable">
      <table style="width: 100%">
        <thead>
          <tr class="center aligned">
            <th class="one wide column">ลำดับ</th>
            <th class="four wide column">ผู้ประกอบการ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center aligned">1</td>
            <td>
              <div class="ui form">
                <div class="fields">
                  <div class="six wide field">
                    <p>บริษัท ยูนิไทย ชิปยาร์ด แอนด์ เอนจิเนียริ่ง จำกัด</p>
                  </div>
                  <div class="seven wide field"></div>
                  <div class="three wide field">
                    <p><a href="javascript:void(0)" (click)="onClick(
                      { 
                        excise_id:'0105533135161-1-001',
                        company_name:'บริษัท ยูนิไทย ชิปยาร์ด แอนด์ เอนจิเนียริ่ง จำกัด',
                        building_name: 'อาคารอัลมาลิงค์',
                        room_number: '-',
                        floor: '11',
                        village: '-',
                        number: '25',
                        village_number: '-',
                        by_way: 'ชิดลม',
                        street: 'เพลินจิต',
                        tambol: 'ลุมพินี',
                        district: 'ปทุมวัน',
                        province: 'กรุงเทพมหานคร',
                        zip_code: '10330',
                        tel: '-',
                        email: '-'
                      })"><i class="external alternate icon"></i>รายละเอียด</a></p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">2</td>
            <td>
              <div class="ui form">
                <div class="fields">
                  <div class="six wide field">
                    <p>ห้างหุ้นส่วนสามัญ แสงจันทร์ เอกมัย - รามอินทรา</p>
                  </div>
                  <div class="seven wide field"></div>
                  <div class="three wide field">
                    <p><a href="javascript:void(0)" (click)="onClick(
                      { 
                        excise_id:'0101552450219-2-001',
                        company_name:'ห้างหุ้นส่วนสามัญ แสงจันทร์ เอกมัย - รามอินทรา',
                        building_name: '-',
                        room_number: '-',
                        floor: '-',
                        village: '-',
                        number: '411',
                        village_number: '-',
                        by_way: 'ชิดลม',
                        street: 'ประดิษฐ์มนูธรรม',
                        tambol: 'วังทองหลาง',
                        district: 'วังทองหลาง',
                        province: 'กรุงเทพมหานคร',
                        zip_code: '10310',
                        tel: '-',
                        email: '-'
                      })"><i class="external alternate icon"></i>รายละเอียด</a></p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">3</td>
            <td>
              <div class="ui form">
                <div class="fields">
                  <div class="six wide field">
                    <p>บริษัท เชฟรอน (ไทย) จำกัด</p>
                  </div>
                  <div class="seven wide field"></div>
                  <div class="three wide field">
                    <p><a href="javascript:void(0)" (click)="onClick(
                      { 
                        excise_id:'0100508000326-1-007',
                        company_name:'บริษัท เชฟรอน (ไทย) จำกัด',
                        building_name: '-',
                        room_number: '-',
                        floor: '-',
                        village: '-',
                        number: '1404',
                        village_number: '-',
                        by_way: '-',
                        street: 'พระราม 3',
                        tambol: 'ช่องนนทรี',
                        district: 'ยานนาวา',
                        province: 'กรุงเทพมหานคร',
                        zip_code: '10120',
                        tel: '-',
                        email: '-'
                      })"><i class="external alternate icon"></i>รายละเอียด</a></p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>