<app-form-search header="ตรวจสอบการจ่ายสินค้าสำเร็จรูป" [formSearch]="formGroup" (search)="search($event)"
  (uploadTemplate)="uploadTemplate($event)" (clear)="clear($event)"></app-form-search>
<segment header="เลือกไฟล์ Template ข้อมูลสำหรับตรวจสอบการจ่ายสินค้าสำเร็จรูป" *ngIf="hideUpload">
  <form class="ui form ng-untouched ng-pristine ng-valid" id="upload-form" ngnativevalidate="">

    <div class="inline fields  ui grid">
      <div class="three wide field">
        <label class="text-right full-width">เลือกไฟล์ Template</label>
      </div>
      <div class="four wide field">
        <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="inputfile"
          id="fileExel" name="fileExel" required="" type="file">
      </div>
      <div class="four wide field">
        <app-button-upload (click)="upload()"></app-button-upload>
      </div>
    </div>
  </form>
</segment>
<segment header="" [loading]="false" *ngIf="hideResult">
  <div class="inline field btn text-right">
    <app-button-export (click)="exportFile()"></app-button-export>
  </div>
  <table id="dataTable" class="ui small celled nowrap table striped selectable" style="width:100%">
    <thead>
      <tr>
        <th class="one wide">ลำดับ</th>
        <th class="three wide text-center">รายการ</th>
        <th class="three wide " style="text-align: center  !important">ปริมาณจ่ายสินค้าสำเร็จรูป<br>ในใบกำกับภาษีขาย
        </th>
        <th class="three wide  bg-blue" style="text-align: center  !important">ปริมาณจ่ายสินค้าสำเร็จรูป<br>(ภส. ๐๗-๐๒)
        </th>
        <th class="three wide  bg-blue" style="text-align: center  !important">ปริมาณจ่ายสินค้าสำเร็จรูป<br>จากงบเดือน
          (ภส. ๐๗-๐๔)</th>
        <th class="three wide " style="text-align: center  !important">ปริมาณที่ได้จากการตรวจสอบ<br>(1)</th>
        <th class="three wide" style="text-align: center  !important">ปริมาณจ่ายสินค้าสำเร็จรูป<br>(ภส. ๐๓-๐๗ (2))</th>
        <th class="two wide" style="text-align: center  !important">ผลต่าง<br>(1 - 2)</th>
      </tr>
    </thead>
  </table>
</segment>