<with-breadcrumb [breadcrumb]="breadcrumb">
  <segment header="บันทึกอนุมัติแผนตรวจสอบภาษีประจำปี" [loading]="loading">
    <div class="ui form">
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="three wide field">
          <label class="text-right full-width">ปีงบประมาณ</label>
        </div>
        <form class="two wide field" [formGroup]="formYear">
          <div class="ui calendar" style="width: 100%" id="calendar">
            <div class="ui input left icon">
              <i class="calendar alter nate outline icon"></i>
              <input type="calendar" formControlName="budgetYear" placeholder="ปปปป" id="calendarYear" name="calendar"
                [attr.required]="true" autocomplete="off">
            </div>
          </div>
        </form>
        <div class="two wide field">
          <!-- <app-button-search (click)="search()"></app-button-search> -->
        </div>
        <div class="two wide field"><label class="text-right full-width">สำนักงานสรรพสามิต</label></div>
        <div class="three wide field">
          <select class="ui fluid search dropdown full-width" id="selectSector" (change)="onChange()"
            [(ngModel)]="selected" [ngClass]="{'disabled': '00' != officeCode.slice(0,2)}">
            <option value="0">ทั้งหมด</option>
            <option *ngFor="let item of selectSector" [ngValue]="item.officeCode">{{item.deptShortName}}</option>
          </select>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="three wide field">
          <label class="text-right full-width">สถานะแผนตรวจสอบภาษี :</label>
        </div>
        <div class="three wide field">
          <div *ngIf="auditStatus">
              <label class="">รอการอนุมัติแผน</label>
          </div>
          <div *ngIf="!auditStatus">
              <label class="">{{planStatus.planStatusDesc}}</label>
          </div>

        </div>
      </div>
      <div class="text-right fields">
        <div class="one wide field"></div>
        <div class="fourteen wide field"></div>
      </div>
      <div class="text-center fields">
        <div class="one wide field"></div>
        <form [formGroup]="approver" class="fourteen wide field">
          <!-- <segment header="บันทึกคำขออนุมัติแผนตรวจสอบภาษีประจำปี" [loading]="false"
            *ngIf="checkRole('ROLE_TA_SELECT') || (checkRole('ROLE_TA_HEAD') && planStatus.planStatus != 'I')">
            <div class="ui form">
              <div class="fields">
                <div class="sixteen wide field">
                  <textarea rows="3" formControlName="approvalComment"
                    [ngClass]="{'custom-readonly': planStatus.planStatus != 'I'}"
                    [readonly]="planStatus.planStatus != 'I'"></textarea>
                </div>
              </div>
            </div>
            <app-button-custom color="green" (click)="onApproved(0)" *ngIf="planStatus.planStatus == 'I'">
              ขออนุมัติแผนการตรวจสอบภาษี</app-button-custom>
          </segment> -->
          <!-- <segment header="บันทึกอนุมัติแผนตรวจสอบภาษีประจำปี" [loading]="false" [right]="true" *ngIf="checkoffice" > -->
              <segment  [loading]="false" [right]="true" *ngIf="checkoffice" >
            <!-- *ngIf="(checkRole('ROLE_TA_HEAD') && planStatus.planStatus != 'I') || (checkRole('ROLE_TA_SELECT') && planStatus.planStatus == 'P')"
            > -->
            <!-- <div headRight>
                <app-button-custom icon="sort" color="grey" [text]="toggleButtonTxt" (click)="toggleHideButton()">
                  </app-button-custom>
            </div> -->
            <div class="ui form">
                <label class="text-right full-width">ความเห็นเพิ่มเติมในการอนุมัติแผน</label>
              <div class="fields">

                <div class="sixteen wide field">
                  <textarea rows="3" formControlName="approvedComment"
                    [ngClass]="{'custom-readonly': planStatus.planStatus == 'P'}"
                    [readonly]="planStatus.planStatus == 'P'"></textarea>
                </div>
              </div>
            </div>
            <!-- *ngIf="planStatus.planStatus == 'W'" -->
            <app-button-custom [icon]="'check circle'" color="green" (click)="onApproved(1)">อนุมัติแผนการตรวจสอบภาษี</app-button-custom>
            <app-button-custom [icon]="'times circle'" color="red">ยกเลิกอนุมัติแผนการตรวจสอบภาษี</app-button-custom>
            <app-button-custom routerLink="/tax-audit-new/ta01/07/01">รายการคัดเลือกทั้งหมด</app-button-custom>
          </segment>
        </form>
      </div>
    </div>


    <div class="ui one column centered grid">
      <div class="fourteen wide column">
        <table class="ui small celled table aligned hover striped selectable nowrap">
          <thead class="text-center">
            <tr>
              <th colspan="2" rowspan="2">สำนักงาน</th>
              <th rowspan="2" *ngIf="!checkRole('ROLE_TA_HEAD') || checkRole('ROLE_ADMIN')">วันที่ส่ง</th>
              <th rowspan="2" *ngIf="!checkRole('ROLE_TA_HEAD') || checkRole('ROLE_ADMIN')">วันที่ตอบกลับ</th>
              <th colspan="3">จำนวนรายที่เลือก</th>
              <th rowspan="2">
                <!-- <app-button-custom routerLink="/tax-audit-new/ta01/07/01">ดูทั้งหมด</app-button-custom> -->
              </th>
            </tr>
            <tr>
              <th>ตามแผน</th>
              <th>นอกแผน</th>
              <th>รวม</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let item of planWsSendData">
              <td [ngClass]="{'text-left': item.sector.deptName != null}">{{item.sector.deptName }}</td>
              <td [ngClass]="{'text-left': item.area.deptName != null}">{{item.area.deptName }}</td>
              <td [ngClass]="{'text-center': item.planWorksheetSend.sendDate != null}"
                *ngIf="!checkRole('ROLE_TA_HEAD') || checkRole('ROLE_ADMIN')">
                {{item.planWorksheetSend.sendDate }}</td>
              <td [ngClass]="{'text-center': item.planWorksheetSend.submitDate != null}"
                *ngIf="!checkRole('ROLE_TA_HEAD')  || checkRole('ROLE_ADMIN')">
                {{item.planWorksheetSend.submitDate}}</td>
              <td [ngClass]="{'text-right': item.planWorksheetSend.facInNum != null}">
                {{item.planWorksheetSend.facInNum }}</td>
              <td [ngClass]="{'text-right': item.planWorksheetSend.facOutNum != null}">
                {{item.planWorksheetSend.facOutNum}}</td>
              <td [ngClass]="{'text-right': item.totalFacNum != null}">{{item.totalFacNum}}</td>
              <td>
                <app-button-detail *ngIf="item.planWorksheetSend.submitDate != null && item.planWorksheetSend.submitDate != ''"
                  (click)="onClickDetail(item.planWorksheetSend.officeCode)"></app-button-detail>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </segment>
</with-breadcrumb>
