<with-breadcrumb [breadcrumb]="breadcrumb">
  <segment header="รายงานผลการออกตรวจ" [right]="true" [loading]="false">

    <div form>
      <div inline>
        <table id="dataTable" class="ui small celled nowrap table striped selectable" style="width:100%">
          <thead>
            <tr style="text-align: center;">
              <th>ลำดับที่</th>
              <th>ชื่อสถานประกอบการ</th>
              <th>ที่อยู่</th>
              <th>วันที่ออกตรวจ</th>
              <th>ประเภท</th>
              <th>ประเภทใบอนุญาต</th>
              <th>รายละเอียด</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </segment>

</with-breadcrumb>