<segment header="การวิเคราะห์มูลค่าสินค้าที่เสียภาษี" [loading]="false">
    <table id="table3" class="ui small celled table striped selectable  nowrap" style="width:100%">
      <thead class="text-center">
        <tr>
          <th style="text-align: center !important" class="text-center">รายการ</th>
          <th style="text-align: center !important">ปริมาณ ภส. 03-07</th>
          <th style="text-align: center !important">ราคาขายปลีกแนะนำ</th>
          <th style="text-align: center !important">ผลต่าง</th>
        </tr>
      </thead>
    
    </table>
  </segment>