<app-breadcrumb style="width: 100%;" [route]="breadcrumb"></app-breadcrumb>
<segment header="ออกตรวจ" [loading]="false">
  <div class="ui form">

    <div class="inline fields">
      <div class="three wide field ">
      </div>
      <div class="two wide field ">
        <label class="text-right full-width">รูปแบบการตรวจสอบ :</label>
      </div>
      <div class="four wide field">
        ความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่
      </div>
      <div class="two wide field ">
        <label class="text-right full-width">ปีงบประมาณ :</label>
      </div>
      <div class="two wide field">
        2562
      </div>
      <div class="three wide field ">
      </div>
    </div>
    <div class="inline fields">
      <div class="three wide field ">
      </div>
      <div class="two wide field ">
        <label class="text-right full-width">วันที่เริ่มตรวจ :</label>
      </div>
      <div class="four wide field">
        12/1/61
      </div>
      <div class="two wide field ">
        <label class="text-right full-width">วันที่สิ้นสุดการตรวจ :</label>
      </div>
      <div class="two wide field">
        30/1/61
      </div>
      <div class="three wide field ">
      </div>
    </div>
    <div class="inline fields">
      <div class="three wide field ">
      </div>
      <div class="two wide field ">
        <label class="text-right full-width">ผู้รับตรวจ :</label>
      </div>
      <div class="four wide field">
        ภาคที่ 2 พื้นที่ ชลบุรี 1
      </div>
      <div class="seven wide field ">
      </div>
    </div>
    <div class="inline fields">
      <div class="three wide field ">
      </div>
      <div class="two wide field ">
        <label class="text-right full-width">ผู้ตรวจ :</label>
      </div>
      <div class="four wide field">
        ส่วนกลาง
      </div>
      <div class="two wide field required">
      </div>
      <div class="two wide field">
      </div>
      <div class="three wide field ">
      </div>
    </div>

    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini blue  button" type="submit">
          รายละเอียดผู้ตรวจ
        </button>
        <app-button-back routerLink="/int10"></app-button-back>
      </div>
    </div>
  </div>
</segment>
<app-int010202></app-int010202>
