.full {
     width: 100% !important;
 }
 
 .ui.calendar, input[type=calendar] {
     width: 100% !important;
 }
 
 label {
     width: 100% !important;
     text-align: right;
 }
 
 .text-left {
     text-align: left !important;
 }
 .text-center {
     text-align: center !important;
 }
 .text-right {
     text-align: right !important;
 }
 
 .menu-hide{
     display: none !important;
 }

 .ui.checkbox input[disabled]~.box:after, .ui.checkbox input[disabled]~label, .ui.disabled.checkbox .box:after, .ui.disabled.checkbox label {
     opacity: 1 !important;
 }

 .padding-left-half {
     padding-left: 2em;
 }