<app-form-search header="ตรวจสอบราคาต่อหน่วยสินค้าที่ขอลดหย่อนภาษี" [formSearch]="formGroup" (search)="search($event)"
  (uploadTemplate)="uploadTemplate($event)" (clear)="clear($event)"></app-form-search>
<segment header="เลือกไฟล์ Template ข้อมูลสำหรับตรวจสอบราคาต่อหน่วยสินค้าที่ขอลดหย่อนภาษี" *ngIf="hideUpload">
  <form class="ui form ng-untouched ng-pristine ng-valid" id="upload-form" ngnativevalidate="">

    <div class="inline fields  ui grid">
      <div class="three wide field">
        <label class="text-right full-width">เลือกไฟล์ Template</label>
      </div>
      <div class="four wide field">
        <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="inputfile" id="fileExel"
          name="fileExel" required="" type="file">
      </div>
      <div class="four wide field">
        <app-button-upload (click)="upload()"></app-button-upload>
      </div>
    </div>
  </form>
</segment>
<segment header="" [loading]="false" *ngIf="hideResult">
  <div class="inline field btn text-right">
    <app-button-export (click)="exportFile()"></app-button-export>
  </div>
  <table id="dataTable" class="ui small celled nowrap table striped selectable" style="width:100%">
    <thead class="text-center">
      <tr>
        <th rowspan="2" class="text-center">ลำดับ</th>
        <th rowspan="2" class="text-center">รายการ</th>
        <th colspan="3" class="text-center">ขอลดหย่อนตามแบบ ภส. ๐๕-๐๓</th>
        <th colspan="4" class="text-center bg-blue">ใบเสร็จรับเงิน</th>
        <th rowspan="2" class="text-center" style="text-align: center !important" >ผลต่าง</th>
      </tr>
      <tr>
        <th class="text-center">ภาษีรวม</th>
        <th class="text-center">ปริมาณ</th>
        <th class="text-center">ภาษีต่อหน่วย</th>
        <th class="text-center bg-blue">เลขที่ใบเสร็จ</th>
        <th class="text-center bg-blue">ภาษีรวม</th>
        <th class="text-center bg-blue">ปริมาณ</th>
        <th class="text-center bg-blue">ภาษีต่อหน่วย</th>
      </tr>
    </thead>
  </table>
</segment>