<with-breadcrumb [breadcrumb]="breadcrumb">
  <segment header="รายละเอียดรับเงินประกันสัญญา" [loading]="loading">
    <div class="ui form">
      <form [formGroup]="wsReg4000">
        <div inline>
          <div field [col]="2">
            <label class="text-right full-width">ทะเบียนสรรพสามิต</label>
          </div>
          <div field [col]="2">
            <input class="custom-readonly" type="text" formControlName="newRegId">
          </div>
          <div field [col]="2">
            <label class="text-right full-width">ชื่อผู้ประกอบการ</label>
          </div>
          <div field [col]="3">
            <input class="custom-readonly" type="text" formControlName="cusFullname">
          </div>
          <div field [col]="3">
            <label class="text-right full-width">ชื่อโรงงานอุตสาหกรรม/สถานบริการ</label>
          </div>
          <div field [col]="4">
            <input class="custom-readonly" type="text" formControlName="facFullname">
          </div>
        </div>

        <div inline>
          <div field [col]="2">
            <label class="text-right full-width">วันที่จดทะเบียน</label>
          </div>
          <div field [col]="2">
            <input class="custom-readonly" type="text" formControlName="regDate">
          </div>
          <div field [col]="2">
            <label class="text-right full-width">ที่อยู่สถานประกอบการ</label>
          </div>
          <div field [col]="6">
            <textarea class="custom-readonly" rows="3" style="resize: none" formControlName="facAddress"></textarea>
          </div>
        </div>
      </form>

      <form [formGroup]="detail">
        <table class="ui celled table small " style="width: 100%;">
          <thead>
            <tr class="text-center">
              <th colspan="4">หนังสือค้ำประกันธนาคาร</th>
              <th colspan="4">เงินสด</th>
            </tr>
            <tr class="text-center">
              <th>วันเดือนปี</th>
              <th>เลขที่หนังสือค้ำประกัน</th>
              <th>จำนวนเงิน</th>
              <th>ตรวจสอบกับหนังสือค้ำประกัน</th>
              <th>วันเดือนปี</th>
              <th>เล่มที่/เลขที่ใบเสร็จรับเงิน</th>
              <th>จำนวนเงิน</th>
              <th>ตรวจสอบกับเงินฝากคลัง</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <div class="ui calendar" id="bankGuaranteeDateStrCld">
                  <div class="ui input left icon">
                    <i class="calendar alter nate outline icon"></i>
                    <input type="text" formControlName="bankGuaranteeDateStr" autocomplete="off" placeholder="วว/ดด/ปปปป"
                      readonly>
                  </div>
                </div>
              </td>
              <td>
                <input type="text" formControlName="bankGuaranteeNo">
              </td>
              <td>
                <input type="text" formControlName="bankGuaranteeAmt">
              </td>
              <td>
                <div class="ui checkbox">
                  <input type="checkbox" name="bankGuaranteeResult" value="Y" formControlName="bankGuaranteeResultBL">
                  <label>ถูกต้อง/ครบถ้วน</label>
                </div>
              </td>
              <td>
                <div class="ui calendar" id="cashGuaranteeDateStrCld">
                  <div class="ui input left icon">
                    <i class="calendar alter nate outline icon"></i>
                    <input type="text" formControlName="cashGuaranteeDateStr" autocomplete="off" placeholder="วว/ดด/ปปปป"
                      readonly>
                  </div>
                </div>
              </td>
              <td>
                <input type="text" formControlName="cashReceiptNo">
              </td>
              <td>
                <input type="text" formControlName="cashGuaranteeAmt">
              </td>
              <td>
                <div class="ui checkbox">
                  <input type="checkbox" name="cashGuaranteeResult" value="N" formControlName="cashGuaranteeResultBL">
                  <label>ถูกต้อง/ครบถ้วน</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <br>
      <form [formGroup]="header">
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">ผลการตรวจทะเบียนควบคุม :</label>
          </div>
          <div field [col]="2">
            <div class="ui radio checkbox">
              <input type="radio" formControlName="txinsurAuditFlag" id="txinsurAuditFlag" value="Y">
              <label>ถูกต้อง/ครบถ้วน</label>
            </div>
          </div>
          <div field [col]="2">
            <div class="ui radio checkbox">
              <input type="radio" formControlName="txinsurAuditFlag" id="txinsurAuditFlag" value="N">
              <label>พบประเด็น</label>
            </div>
          </div>
        </div>

        <div inline>
          <div field [col]="3">
            <label class="text-right full-width">ข้อตรวจพบ/ข้อสังเกต<br>(ข้อเท็จจริง/Condition) :</label>
          </div>
          <div field [col]="9">
            <textarea rows="4" style="resize: none" formControlName="txinsurConditionText" id="txinsurConditionText"
              maxlength="200"></textarea>
          </div>
        </div>
        <div inline>
          <div field [col]="3">
            <label class="text-right full-width">สิ่งที่ควรจะเป็น<br>(หลักเกณฑ์/Criteria) :</label>
          </div>
          <div field [col]="9">
            <textarea rows="4" style="resize: none" formControlName="txinsurCriteriaText" id="txinsurCriteriaText"
              maxlength="200"></textarea>
          </div>
        </div>

        <div class="ui center aligned grid">
          <div class="column">
            <app-button-save (click)="save($event)"></app-button-save>
            <app-button-back (click)="routeTo('/int06/14/01')"></app-button-back>
          </div>
        </div>
      </form>
    </div>
  </segment>
</with-breadcrumb>