<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui attached segment">
      <h5 class="ui right aligned header">
        แบบ ปย.2
      </h5>
      <h5 class="ui center aligned header">
        ชื่อส่วนงานย่อย สำนักงานสรรพสามิตพื้นที่เชียงราย สาขาเมืองเชียงราย
      </h5>
      <h5 class="ui center aligned header">
        รายงานการประเมินผลและการปรับปรุงการควบคุมภายใน
      </h5>
      <h5 class="ui center aligned header">
        สำหรับปีสิ้นสุดวันที่ 30 เดือน กันยายน พ.ศ.{{budgetYear}}
      </h5>

      <table class="ui small collapsing celled table aligned hover striped selectable" id="dataTable" style="width: 100%;">
        <thead>
          <tr>
            <th style="text-align: center !important">จุดที่ควรประเมิน</th>
            <th style="text-align: center !important">ความเห็น / คำอธิบาย</th>
            <th style="text-align: center !important">ผลการตรวจ<br> (กลุ่มตรวจสอบภายใน)</th>
          </tr>
        </thead>
        <tbody id="tr">

        </tbody>
      </table>
      <br>
      <div class="ui centered row grid">
        <div class="sixteen aligned center ">
          <button class="ui mini primary button">
            <i class="save icon"></i>
            บันทึก
          </button>
          <button class="ui mini button">
            <i class="remove icon"></i>
            ยกเลิก
          </button>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>