
.card {
    padding-left: 10px;
}

.ui.items>.item>.content{
    padding-left: 1.5em;
    padding-top: 0.75em;
}

.ui.table thead th {
    background: #1e83db;
    color: white;
}

.fixed-font-26 {
    font-size: 26px;
}