<with-breadcrumb [breadcrumb]="breadcrumb">

  <!-- condition -->
  <segment header="รายการข้อมูลผู้ประกอบการที่เสียภาษีสรรพสามิตตามเงื่อนไขเพิ่มเติม" [loading]="loading" [right]="true">
    <!-- [showBody]="showBody" -->
    <div headRight>
      <app-button-custom icon="sort" color="grey" [text]="toggleButtonTxt" (click)="toggleBody()"></app-button-custom>
    </div>

    <form form [formGroup]="formSearch">
      <!-- <div inline>
        <div field [col]="3">
          <label class="text-right full-width">เดือนภาษีเริ่มต้น</label>
        </div>
        <div field [col]="5">
          <input class="custom-readonly" id="before" value="มกราคม 2561" placeholder="ดด/ปปปป" readonly="" type="text"
            value="{{objMonth.yearMonthStart}}">
          ถึง&nbsp;&nbsp;&nbsp;
          <input class="custom-readonly" id="last" value="มกราคม 2563" placeholder="ดด/ปปปป" readonly="" type="text"
            value="{{objMonth.yearMonthEnd}}">
        </div>
        <div field [col]="3">
          <label class="text-right full-width">เลขที่วิเคราะห์ข้อมูล</label>
        </div>
        <div field [col]="4">
          <select class="ui fluid dropdown full-width" (change)="analysisChange($event)" id="analysisNumber"
            formControlName="analysisNumber">
            <option *ngFor="let item of analysisList" value="{{item}}">{{item}}</option>
          </select>
        </div>
        <div field [col]="1">
        </div>
      </div>
      <div inline>
        <div field [col]="3" ><label class="text-right full-width">ขนาดทุนจดทะเบียน</label></div>
        <div field [col]="5" [ngClass]="{'disabled': objMonth.condSubCapitalFlag == null}">
          <select class="ui fluid dropdown full-width" formControlName="conSubCapital" id="conSubCapital" (change)="conSubCapitalChange($event)">
            <option value="0">เลือกทั้งหมด</option>
            <option *ngFor="let item of conSubCapitalList" value="{{item.paramCode}}">{{item.value1}}</option>
          </select>
        </div>
        <div field [col]="3" ><label class="text-right full-width">ระดับความเสี่ยง</label></div>
        <div field [col]="4" [ngClass]="{'disabled': objMonth.condSubRiskFlag == null}">
          <select class="ui fluid dropdown full-width" formControlName="condSubRisk" id="condSubRisk" (change)="condSubRiskChange($event)">
            <option value="0">เลือกทั้งหมด</option>
            <option *ngFor="let item of conSubRiskList" value="{{item.paramCode}}">{{item.value1}}</option>
          </select>
        </div>
        <div field [col]="1" *ngIf="objMonth.condSubRiskFlag != null">
        </div>
      </div>
      <div inline>
        <div field [col]="3"><label class="text-right full-width">ผู้ประกอบการที่ไม่มีการตรวจสอบภาษี
            ในระยะเวลาที่กำหนด</label></div>
        <div field [col]="5"[ngClass]="{'disabled': objMonth.condSubNoAuditFlag == null}">
          <select class="ui fluid dropdown full-width" formControlName="condSubNoAuditFlag" id="condSubNoAuditFlag" (change)="condSubNoAuditFlag($event)">
            <option value="0">เลือกทั้งหมด</option>
            <option *ngFor="let item of subCondNoatList" value="{{item.paramCode}}">{{item.value1}}</option>
            <option value="Y">อยู่ในเงื่อนไข</option>
            <option value="N">ไม่อยู่ในเงื่อนไข</option>
          </select>
        </div>
      </div> -->
      <div inline>
        <div field [col]="3">
          <label class="text-right full-width">ช่วงเดือนภาษี</label>
        </div>
        <div field [col]="4">
          <input class="custom-readonly" id="before" value="มกราคม 2561" placeholder="ดด/ปปปป" readonly="" type="text"
            value="{{objMonth.yearMonthStart}}">
          ถึง&nbsp;&nbsp;&nbsp;
          <input class="custom-readonly" id="last" value="มกราคม 2563" placeholder="ดด/ปปปป" readonly="" type="text"
            value="{{objMonth.yearMonthEnd}}">
        </div>
        <div field [col]="2">
          <label class="text-right full-width">เลขทะเบียนสรรพสามิต</label>
        </div>
        <div field [col]="2">
          <input id="newRegId" formControlName="newRegId">
        </div>
        <div field [col]="2">
          <label class="text-right full-width">เลขที่รายการคัดเลือกราย</label>
        </div>
        <div field [col]="3">
          <select class="ui fluid dropdown full-width" (change)="analysisChange($event)" id="analysisNumber"
            formControlName="analysisNumber">
            <option *ngFor="let item of analysisList" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>
      <div inline>
        <div field [col]="3">
          <label class="text-right full-width">ไม่ผ่านการตรวจสอบภาษีย้อนหลัง</label>
        </div>
        <div field [col]="1">
          <select class="ui fluid dropdown full-width" formControlName="taxAuditLast" id="taxAuditLast"
            >
            <option value="0">ไม่ระบุ</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>ปี

        <div field [col]="1"><label class="text-right full-width">ความเสี่ยง</label></div>
        <div field [col]="2">
          <select class="ui fluid dropdown full-width" formControlName="cond" id="cond"
            >
            <option value="all">เลือกทั้งหมด</option>
            <option *ngFor="let item of condGroupDtl" value="{{item.condGroup}}">เงื่อนไขที่
              {{item.condGroup}} {{item.riskLevelDesc}}</option>
            <option value="0">รายที่ไม่อยู่ในเงื่อนไข</option>
          </select>
        </div>

        <div field [col]="2" style="margin-left: -10px !important;">
          <label class="text-right full-width"> สำนักงานสรรพสามิตภาค</label>
        </div>
        <div field [col]="2">
          <select class="ui dropdown full-width" id="sector" (change)="onChangeSector($event)" formControlName="sector">
            <option value="">ทั้งหมด</option>
            <option value="0">ทั้งหมด</option>
            <option *ngFor="let item of sectors" value="{{item.officeCode}}">{{item.deptShortName}}</option>
          </select>
        </div>
        <div field [col]="2">
          <label class="text-right full-width"> สำนักงานสรรพสามิตพื้นที่</label>
        </div>
        <div field [col]="3" class="ui calendar">
          <select class="ui dropdown full-width" id="area" formControlName="area">
            <option value="">ทั้งหมด</option>
            <option value="0">ทั้งหมด</option>
            <option *ngFor="let item of areas" value="{{item.officeCode}}">{{item.deptShortName}}</option>
          </select>
        </div>
      </div>

      <div inline>
        <div field [col]="7"></div>
        <div field [col]="2">
          <label class="text-right full-width"> ประเภทสินค้า/บริการ</label>
        </div>
        <div field [col]="2">
          <select class="ui dropdown full-width" id="facType" (change)="onChangeFacType($event)"
            formControlName="facType">
            <option value="">ทั้งหมด</option>
            <option value="0">ทั้งหมด</option>
            <option *ngFor="let item of facTypeList" value="{{item.paramCode}}">{{item.value1}}</option>
          </select>
        </div>
        <div field [col]="2">
          <label class="text-right full-width"> พิกัด</label>
        </div>
        <div field [col]="3" class="ui calendar">
          <select class="ui  dropdown full-width" id="dutyCode" formControlName="dutyCode">
            <option value="">ทั้งหมด</option>
            <option value="0">ทั้งหมด</option>
            <option *ngFor="let item of dutyCodeList" value="{{item.dutyGroupCode}}">{{item.dutyGroupName}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="showBody">
        <div form>
          <br>
          <div inline>
            <div field [col]="3"></div>
            <div field [col]="13"><b>1. เงื่อนไขหลักในการกวาดข้อมูล</b></div>
          </div>
          <div inline *ngFor="let item of condDtls">
            <div field [col]="3"></div>
            <div field [col]="13">
              <p>{{item.condGroup}} {{item.condDtlDesc}}</p>
            </div>
          </div>
          <br>
          <div inline>
            <div field [col]="3"></div>
            <div field [col]="13">
              <b>2. เงื่อนไขในการคัดกรองเพิ่มเติม</b>
            </div>
          </div>

          <div inline>
            <div field [col]="3"></div>
            <div field [col]="1" style="margin-left: -28px !important;"><input type="checkbox" id="conSub1"
                class="ui checkbox" [checked]="objMonth.condSubCapitalFlag != null" disabled></div>
            <div field [col]="11" style="margin-left: -30px !important;">
              <p>2.1 ขนาดของทุนจดทะเบียน</p>
            </div>
          </div>
          <div inline>
            <div field [col]="3"></div>
            <div field [col]="1" style="margin-left: -28px !important;"> <input type="checkbox" id="conSub2"
                class="ui checkbox" [checked]="objMonth.condSubRiskFlag != null" disabled></div>
            <div field [col]="11" style="margin-left: -30px !important;">
              <p>2.2 ประเภทสินค้าและบริการที่มีความเสี่ยงในการหลีกเลี่ยงภาษี</p>
            </div>
          </div>
          <div inline>
            <div field [col]="3"></div>
            <div field [col]="1" style="margin-left: -28px !important;"><input type="checkbox" id="conSub3"
                class="ui checkbox" [checked]="objMonth.condSubNoAuditFlag != null" disabled></div>
            <div field [col]="11" style="margin-left: -30px !important;">
              <p>2.3 ผู้เสียภาษีที่ไม่มีการตรวจกำกับดูแลมากกว่า 1 ปี</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="ui center aligned grid">
        <div class="eight wide column">
          <app-button-search (click)="search()"></app-button-search>
          <app-button-custom text="คัดกรองข้อมูลตามเงื่อนไขหลัก" routerLink="/tax-audit-new/ta01/04">
          </app-button-custom>
          <app-button-custom [color]="'green'" [icon]="'paper plane'" text="ส่งทุกหน่วยงานคัดเลือกราย"
            (click)="sentSave('Y')" *ngIf="sendAllFlag" [disabled]="!showButton"></app-button-custom>
          <app-button-custom [color]="'green'" [icon]="'paper plane'" text="ส่งส่วนตรวจสอบภาษีส่วนกลางคัดเลือกราย"
            (click)="sentSave('N')" *ngIf="!sendAllFlag" [disabled]="!showButton"></app-button-custom>
          <app-button-export (click)="export()"></app-button-export>
          <!-- (click)="export()" -->
        </div>
      </div>
    </form>
  </segment>
  <!-- result -->
  <segment header="" [loading]="loading">

    <!-- <div class="ui grid">
      <div class="eight wide column">
          style="padding-left: 0px !important;"
        <button class="ui mini button custom-menu" type="button" (click)="munuHide()"><i
            class="bars icon"></i>เมนู</button>&nbsp;
        <app-button-custom text="การคัดกรองข้อมูลตามเงื่อนไขหลัก" routerLink="/tax-audit-new/ta01/04">
        </app-button-custom>
      </div>
      <div class="eight wide column text-right">

        <app-button-custom text="ส่งทุกหน่วยงานคัดเลือกราย" (click)="sentSave('Y')" *ngIf="showButton && sendAllFlag">
        </app-button-custom>
        <app-button-custom text="ส่งส่วนตรวจสอบภาษีส่วนกลางคัดเลือกราย" (click)="sentSave('N')"
          *ngIf="showButton && !sendAllFlag">
        </app-button-custom>
      </div>
    </div> -->
    <div class="ui grid">
      <!-- <div class="three wide column" [ngClass]="{'menu-hide': menuhide}">
        <div class="ui styled accordion">
          <div class="menu-all" (click)="onClickCriteriaAll()">
            &nbsp;&nbsp;&nbsp;ทั้งหมด
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            ขนาดทุนจดทะเบียน
          </div>
          <div class="content">
            <p class="transition" style="cursor: pointer" *ngFor="let item of conSubCapitalList"
              (click)="onCapitalClick(item.value)">
              - {{item.label}}</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            ระดับความเสี่ยง
          </div>
          <div class="content ">
            <p class="transition" style="cursor: pointer" *ngFor="let item of conSubRiskList"
              (click)="onRiskClick(item.value)">
              - {{item.label}}</p>

          </div>
        </div>
      </div> -->
      <!-- <div [ngClass]="{'thirteen ': !menuhide, 'sixteen': menuhide, 'wide column' : true}"> -->
      <div class="sixteen wide column">
        <!-- table -->
        <app-table-custom [datas]="datas" [recordTotal]="recordTotal" [objMonth]="objMonth" [showCondition]="true"
          [budgetYear]="budgetYearNumber" [condGroupDtl]="condGroupDtl" (pageChangeOutput)="pageChangeOutput($event)">
          <div contentRight>

          </div>
        </app-table-custom>
        <br>
      </div>
    </div>
  </segment>

</with-breadcrumb>

<ui-modal [id]="'riskModal'" type="custom" size="small">
  <div class="ui header">
    {{txtHead}}
  </div>
  <div class="content">
    <pre>{{txt}}</pre>
  </div>
  <div class="actions">
    <app-button-cancel class="deny"></app-button-cancel>
  </div>
</ui-modal>