#tableData tr td:nth-child(4), #tableData tr td:nth-child(5),
#tableData tr td:nth-child(6),#tableData tr td:nth-child(7) {
    text-align: right;
}
#tableData tr td:nth-child(2), #tableData tr td:nth-child(3)
#tableData tr td:nth-child(8) {
    text-align: left;
}

#tableData tr td:nth-child(1) {
    text-align: center;
}

#tableSetting {
    z-index: 1001;
}

#tableSetting tr td:nth-child(1), #tableSetting tr td:nth-child(2), 
#tableSetting tr td:nth-child(4), #tableSetting tr td:nth-child(8),
#tableSetting tr td:nth-child(9) {
    text-align: center;
}

#tableSetting tr td:nth-child(3), #tableSetting tr td:nth-child(5), 
#tableSetting tr td:nth-child(6) {
    text-align: right;
}

@media only screen and (max-width: 1172px) {
    .vertical.mini.animated {
        padding-right: 16.500px !important;
    }
} 

@media only screen and (max-width: 768px) {
    .condition{
        margin-top: 0 !important;
    }
    .ani-icon{
        margin-left: -0.65em !important;
    }
}

.text-right-button{
    justify-content : flex-end;
}