<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui one column grid">
      <div class="column">
        <div class="ui fluid card">
          <div class="ui relaxed items">
            <div class="ui segments">
              <div class="ui segment center aligned" style=" background: #1e83db;color: white;">
                <p>กลุ่มความเสี่ยง 1</p>
              </div>
              <div class="ui segment">
                <div class="ui four column grid">
                  <div class="column">
                    <p>บริษัท เชฟรอน (ไทย) จำกัด</p>
                  </div>
                  <div class="column">
                    <p>สรรพสามิตภาคที่ 1</p>
                  </div>
                  <div class="column">
                    <p>ปทุมธานี 1</p>
                  </div>
                  <div class="column">
                    <button class="ui toggle {{btnClass11}} button ai" (click)="toggleBtn11()">{{btnText11}}</button>
                  </div>
                </div>
                <div class="ui four column grid">
                  <div class="column">
                    <p>บริษัท ศักดิ์ไชยสิทธิ จำกัด</p>
                  </div>
                  <div class="column">
                    <p>สรรพสามิตภาคที่ 1</p>
                  </div>
                  <div class="column">
                    <p>สิงห์บุรี</p>
                  </div>
                  <div class="column">
                    <button class="ui toggle {{btnClass12}} button ai" (click)="toggleBtn12()">{{btnText12}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="ui relaxed items">
            <div class="ui segments">
              <div class="ui segment center aligned" style=" background: #1e83db;color: white;">
                <p>กลุ่มความเสี่ยง 2</p>
              </div>
              <div class="ui segment">
                <div class="ui four column grid">
                  <div class="column">
                    <p>บริษัท เอนเนอจี อินโนเวชั่น เทคโนโลยี จำกัด</p>
                  </div>
                  <div class="column">
                    <p>สรรพสามิตภาคที่ 2</p>
                  </div>
                  <div class="column">
                    <p>ชลบุรี 2</p>
                  </div>
                  <div class="column">
                    <button class="ui toggle {{btnClass21}} button ai" (click)="toggleBtn21()">{{btnText21}}</button>
                  </div>
                </div>
                <div class="ui four column grid">
                  <div class="column">
                    <p>บริษัท เอ็น.เอส.อาร์.เซลส์ แอนด์ เซอร์วิส จำกัด</p>
                  </div>
                  <div class="column">
                    <p>สรรพสามิตภาคที่ 2</p>
                  </div>
                  <div class="column">
                    <p>ปราจีนบุรี</p>
                  </div>
                  <div class="column">
                    <button class="ui toggle {{btnClass22}} button ai" (click)="toggleBtn22()">{{btnText22}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>