<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<h2 class="ui header">รายการตรวจส่งออกประจำปีงบประมาณ 2562</h2>
<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui segment">
      <table id="tableData" class="ui small celled table nowrap striped selectable" style="width: 100%">
        <thead>
          <tr>
            <th style="text-align: center !important;">ลำดับที่</th>
            <th style="text-align: center !important;">เลขทะเบียนสรรพสามิต</th>
            <th style="text-align: center !important;">ชื่อสำนักงานสรรพสามิต</th>
            <th style="text-align: center !important;">สถานะดำเนินการ</th>
            <th style="text-align: center !important;"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="three wide column">
    <div class="ui segment">
      <div class="ui form">
        <div class="inline field">
          <span>ปีงบประมาณ</span>
        </div>
        <div class="inline field">
          <select id="selectYear" class="ui dropdown ai" [(ngModel)]="yearSelect">
            <option value="2560">2560</option>
            <option value="2561">2561</option>
            <option value="2562">2562</option>
          </select>
        </div>
      </div>
    </div><br>
    <div class="column">
      <div class="ui fluid link card" (click)="toSubPage('plan-year')">
        <div class="ui relaxed items">
          <div class="item middle aligned">
            <div class="content" style="padding-right: 10px;padding-left: 10px;">
              <a class="header">
                <span>แผนประจำปี</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div><br />
    <div class="column">
      <div class="ui fluid link card" (click)="toSubPage('riskConfig')">
        <div class="ui relaxed items">
          <div class="item middle aligned">
            <div class="content" style="padding-right: 10px;padding-left: 10px;">
              <a class="header">
                <span>ความเสี่ยง</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div><br />
    <div class="column">
      <div class="ui fluid link card" (click)="toSubPage('risk-group')">
        <div class="ui relaxed items">
          <div class="item middle aligned">
            <div class="content" style="padding-right: 10px;padding-left: 10px;">
              <a class="header">
                <span>กลุ่มเสี่ยง</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>