<br>

  <div class="ui form grid">
    <div class="two wide column"></div>
    <div class="fourteen wide column">

      <div class="inline fields">
        <div class="three wide field"></div>
        <div class="one wide field">
        </div>
        <div class="four wide field">
          <label class="text-left full-width">ผู้ประกอบการปฎิบัติตามหนังสือเรียก</label>
        </div>
        <div class="three wide field">
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="docType" (change)="hedenActiontotal(1)" value="1">
                <label>ปฎิบัติ
                </label>
              </div>
            </div>&nbsp;&nbsp;
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="docType" id="docType" (change)="hedenActiontotal(2)" value="2">
                <label>ไม่ปฎิบัติ
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="ui form grid" *ngIf="actiontotal[1]">
    <div class="two wide column"></div>
    <div class="fourteen wide column">


      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field">
          <i class="small circular inverted yellow sticky note icon" style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">หนังสือเตือนให้ปฏิบัติตามหนังสือเรียก (ตส. ๐๑-๐๕)</label>
        </div>
        <div class="three wide field">
          <app-button-save (click)="gotoTS05()"></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ" (click)="goTo('/tax-audit-new/ta03/01')"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field">
        </div>
        <div class="six wide field">
          <label class="text-left full-width">ผู้ประกอบการปฎิบัติตามหนังสือเตือน</label>
        </div>
        <div class="three wide field">
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="actionD" (change)="hedenActiontotal(0)" value="0">
                <label>ปฎิบัติ</label>
              </div>
            </div>&nbsp;&nbsp;
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="actionD" (change)="hedenActiontotal(3)" value="3">
                <label>ไม่ปฎิบัติ</label>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
  <div class="ui form grid" *ngIf="actiontotal[0]">
    <div class="two wide column"></div>
    <div class="fourteen wide column">
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"> <i class="small circular inverted orange edit alternate icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">คำให้การ (ตส. ๐๑-๑๐, ตส. ๐๑-๑๐/๑)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save (click)="gotoTS10()"></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ" (click)="goTo('/tax-audit-new/ta03/01')"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">ใบรับมอบและส่งมอบบัญชี และเอกสาร (ตส. ๐๑-๑๑)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save (click)="gotoTS11()"></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ" (click)="goTo('/tax-audit-new/ta03/01')"></app-button-custom>
        </div>
      </div>
      <br>

    </div>
  </div>
  <div class="ui form grid" *ngIf="actiontotal[2]">
    <div class="two wide column"></div>
    <div class="fourteen wide column">
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">สรุปผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๔)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save (click)="gotoTS14()"></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">รายงานการตรวจสอบภาษีสรรพสามิต และใบต่อ (ตส. ๐๑-๑๔/๑)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save (click)="gotoTS141()"></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">รายละเอียดแสดงผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๔/๒)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save (click)="gotoTS142()"></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">หนังสือแจ้งการรับทราบผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๗/๑)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save (click)="gotoTS171()"></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field"><i class="small circular inverted yellow sticky note icon"
            style="font-size: 1em;"></i>
        </div>
        <div class="six wide field">
          <label class="text-left full-width">หนังสือแจ้งผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๑-๑๙)
          </label>
        </div>
        <div class="three wide field">
          <app-button-save (click)="gotoTS19()"></app-button-save>
          <app-button-custom color="primary" icon="eye icon" text="ดูแบบ"></app-button-custom>
        </div>
      </div>
      <br>

    </div>
  </div>


