<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<br>
<div class="sixteen wide column">
  <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
    <span>ความเชื่อมโยงระหว่างสินค้าและผู้ส่งออก</span>
  </div>
  <form [formGroup]="searchForm" (submit)="handleSearch($event)">
    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="three wide field">
            <label class="text-right full-width">สำนักงานสรรพสามิตภาค</label>
          </div>
          <div class="four wide field" [ngClass]="{ 'error': validateField('combo1') }">
            <input class="custom-readonly" type="text" formControlName="combo1" id="combo1">
          </div>

          <div class="three wide field">
            <label class="text-right full-width">สำนักงานสรรพสามิตพื้นที่</label>
          </div>

          <div class="four wide field" [ngClass]="{ 'error': validateField('combo2') }">
            <input class="custom-readonly" type="text" formControlName="combo2" id="combo2">
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field">
            <label class="text-right full-width">สำนักงานสรรพสามิตพื้นที่สาขา</label>
          </div>

          <div class="four wide field" [ngClass]="{ 'error': validateField('combo3') }">
            <input class="custom-readonly" type="text" formControlName="combo3" id="combo3">
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field">
            <label class="text-right full-width">รหัสผู้ส่งออก</label>
          </div>
          <div class="four wide field">
            <input class="custom-readonly" type="text" formControlName="passExport">
          </div>

          <div class="three wide field">
            <label class="text-right full-width">ชื่อผู้ส่งออก</label>
          </div>

          <div class="four wide field">
            <input class="custom-readonly" type="text" formControlName="exportName" id="exportName">
          </div>
        </div>

        <br>
        <br>
      </div>
    </div>
  </form>

  <div class="ui attached segment" style="height: 340px; margin-top: 10px;">
    <div class="mindmap">
      <ol class="children children_leftbranch">

        <li class="children__item">
          <div class="node">
            <div class="node__text">เซเว่นอัพ</div>
            <input type="text" class="node__input">
          </div>
        </li>
        <li class="children__item">
          <div class="node">
            <div class="node__text">มิรินด้า</div>
            <input type="text" class="node__input">
          </div>
        </li>
        <li class="children__item">
          <div class="node">
            <div class="node__text">อาร์ซีโคล่า</div>
            <input type="text" class="node__input">
          </div>
        </li>
        <li class="children__item">
          <div class="node">
            <div class="node__text">เลย์</div>
            <input type="text" class="node__input">
          </div>
        </li>

      </ol>
      <div class="node node_root">
        <div class="node__text">บริษัท เป๊ปซี่-โคล่า (ไทย) เทรดดิ้ง จำกัด</div>
        <input type="text" class="node__input">
      </div>
      <ol class="children children_rightbranch">
        <li class="children__item">
          <div class="node">
            <div class="node__text">โคคา-โคล่า</div>
            <input type="text" class="node__input">
          </div>
        </li>
        <li class="children__item">
          <div class="node">
            <div class="node__text">เอส โคล่า</div>
            <input type="text" class="node__input">
          </div>
        </li>
        <li class="children__item">
          <div class="node">
            <div class="node__text">บิ๊กโคล่า</div>
            <input type="text" class="node__input">
          </div>
        </li>
      </ol>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="dist/mindmap.min.js"></script>
    <script>

      $(function () {
        $('.mindmap').mindmap();
      });

    </script>


    <div class="ui center aligned grid" style="margin-top: -4rem;">
      <div class="sixteen wide column">
        <button class="ui mini button" type="button" [routerLink]="['../']">
          <i class="arrow left icon"></i>ย้อนกลับ
        </button>
      </div>
    </div>
  </div>
</div>