<app-breadcrumb style="width: 100%;" [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
  <div class="sixteen wide column">
    <segment header="สรุปผลการตรวจสอบภายในประจำปี 2561" [loading]="false">

      <div class="ui form">

        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="four wide field "></div>
          <div class="two wide field">
            <span class="text-center full-width">สถานะการดำเนินงาน</span>
          </div>
          <div class="two wide field ">
            <span class="text-center full-width"> สถานะการอนุมัติ</span>
          </div>
          <div class="four wide field"></div>
          <div class="two wide field "></div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">1. บันทึกข้อความ</label>
          </div>
          <div class="two wide field">
          </div>
          <div class="two wide field ">
          </div>
          <div class="four wide field">
          </div>
          <div class="two wide field ">
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;เรื่อง สรุปผลข้อตรวจพบและข้อเสนอแนะ เรียน
              ผู้อำนวยการสำนักงานสรรพสามิตภาคที่ 1- 10</label>
          </div>
          <div class="two wide field">
            <span class="text-center full-width" style="color:blue;">กำลังดำเนินการ</span>
          </div>
          <div class="two wide field ">
            <span class="text-center full-width">-</span>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" routerLink="/int11/03"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" routerLink="/int11/03"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">&nbsp;&nbsp;&nbsp;&nbsp;เรื่อง สรุปผลข้อตรวจพบและข้อเสนอแนะ เรียน
              อธิบดีกรมสรรพสามิต</label>
          </div>
          <div class="two wide field">
            <span class="text-center full-width" style="color:blue;">กำลังดำเนินการ</span>
          </div>
          <div class="two wide field ">
            <span class="text-center full-width">-</span>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" routerLink="/int11/03"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" routerLink="/int11/03"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>


        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">2. บทสรุปผู้บริหาร </label>
          </div>
          <div class="two wide field">
            <span class="text-center full-width" style="color:blue;">กำลังดำเนินการ</span>
          </div>
          <div class="two wide field ">
            <span class="text-center full-width">-</span>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" routerLink="/int11/06"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" routerLink="/int11/06"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
          </div>
          <div class="four wide field ">
            <label class="text-left full-width">3. สรุปผลการตรวจและติดตาม</label>
          </div>
          <div class="two wide field">
            <span class="text-center full-width" style="color:blue;">กำลังดำเนินการ</span>
          </div>
          <div class="two wide field ">
            <span class="text-center full-width">-</span>
          </div>
          <div class="four wide field">
            <app-button-custom color="primary" text="รายละเอียด" routerLink="/int11"></app-button-custom>
            <app-button-custom color="primary" text="ตรวจสอบและอนุมัติ" routerLink="/int11"></app-button-custom>
          </div>
          <div class="two wide field "></div>
        </div>

      </div>
    </segment>
  </div>