.adjust-space {
    padding: 0px 0px !important;
    background-color: rgb(31, 86, 158, 0.8) !important;
}

.item .transition .visible {
    padding: 0px 13px !important;
    margin-right: 1.5em;
}

.acd-text {
    color: white !important;
}

.title.sub {
    background-color: #1d71bb !important;
    font-size: 0.89em !important;
    margin: 0 !important;
    padding-left: 1.25em !important;
    outline: none !important;
}

.title.sub.empty {
    padding-left: calc(2em + 16px) !important;
    outline: none !important;
}

.title.sub.empty.active {
    background: #1a67a9 !important;
}

.content .item {
    font-size: 0.8em !important;
    padding-left: 4em !important;
}

.title {
    background-color: #1e83db !important;
    font-size: 0.95em !important;
    outline: none !important;
    padding: 0.75em 0.25em !important;
}

.title .icon {
    outline: none !important;
}

.accordion {
    background-color: #1d71bb !important;
    margin: 0 !important;
}
