<app-form-search header="คำนวณภาษีที่ต้องชำระเพิ่ม" (uploadTemplate)="uploadTemplate($event)" [formSearch]="formGroup"
  (search)="search($event)" (clear)="clear($event)"></app-form-search>
<segment header="เลือกไฟล์ Template คำนวณภาษีที่ต้องชำระเพิ่ม" *ngIf="hideUpload">
  <form class="ui form ng-untouched ng-pristine ng-valid" id="upload-form" ngnativevalidate="">

    <div class="inline fields  ui grid">
      <div class="three wide field">
        <label class="text-right full-width">เลือกไฟล์ Template</label>
      </div>
      <div class="four wide field">
        <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="inputfile" id="fileExel"
          name="fileExel" required="" type="file">
      </div>
      <div class="four wide field">
        <app-button-upload></app-button-upload>
      </div>
    </div>
  </form>
</segment>
<segment header="" [loading]="false" *ngIf="hideResult">
  <div class="inline field btn text-right">
    <app-button-export (click)="exportFile()"></app-button-export>
  </div>
  <table id="dataTable" class="ui small celled nowrap table striped selectable" style="width:100%">
    <thead class="text-center">
      <tr>
        <th>ลำดับ</th>
        <th class="text-center ">รายการ</th>
        <th>ปริมาณ</th>
        <th>ราคาขายปลีก</th>
        <th>มูลค่า</th>
        <th>อัตราภาษี (ร้อยละ)</th>
        <th>ภาษีที่ต้องชำระเพิ่มเติม</th>
        <th>เบี้ยปรับ</th>
        <th>เงินเพิ่ม</th>
        <th>ภาษีเพื่อราชการส่วนท้องถิ่น</th>
        <th>รวม</th>
      </tr>
    </thead>
  </table>
</segment>