<with-breadcrumb [breadcrumb]="breadcrumb">
  <segment header="ตั้งค่าตำแหน่งและอัตราเบิกจ่าย" [loading]="false">
    <form class="ui form" [formGroup]="searchPosition">
      <!-- row 1 -->
      <div class="inline fields ui grid">
        <div class="four wide field ">
        </div>
        <div class="two wide field ">
          <label class="text-right full-width">ตำแหน่ง</label>
        </div>
        <div class="four wide field ">
          <input class="custom ng-untouched ng-pristine ng-valid" id="position" name="position" type="text" formControlName="position">
        </div>
        <div class="four wide field ">
          <app-button-search (click)="onSearch()"></app-button-search>
          <app-button-add (click)="routeTo('/management/ed/ed02/01')"></app-button-add>
        </div>
      </div>
    </form>
    <table id="dataTable" class="ui small celled table striped selectable" style="width: 100%;">
      <thead>
        <tr>
          <th style="text-align: center !important;">ลำดับที่</th>
          <th style="text-align: center !important;">ตำแหน่ง</th>
          <th style="text-align: center !important;">เบี้ยเลี้ยงหนึ่งวัน</th>
          <th style="text-align: center !important;">เบี้ยเลี้ยงครึ่งวัน</th>
          <th style="text-align: center !important;">ค่าธรรมเนียม ACCOM</th>
          <th style="text-align: center !important;">ค่าธรรมเนียม ACCOM สองเท่า</th>
          <th style="text-align: center !important;">ค่าธรรมเนียมแพ็คเกจ ACCOM </th>
          <th style="text-align: center !important;">จัดการ</th>
        </tr>
      </thead>
    </table>

  </segment>
</with-breadcrumb>