<segment header="การวิเคราะห์รายได้ เปรียบเทียบเดือนก่อนหน้า" [loading]="false">
    <table id="dataTable" class="ui small celled table striped selectable  nowrap" style="width:100%">
      <thead>
        <tr class="text-center">
          <th style="text-align: center !important">เดือน</th>
          <th style="text-align: center !important">รายได้ (บาท)</th>
          <th style="text-align: center !important">ผลต่าง (บาท)</th>
          <th style="text-align: center !important">ผลต่าง (ร้อยละ)</th>
        </tr>
      </thead>
     
    </table>
  </segment>